<div class="galerie-content">
	<p class="title">Cambiar foto de perfil</p>
	<a (click)="onNoClick()" class="modal-close-cta">Cerrar <span class="icon icon-times"></span> </a>
	<div class="galerie-content--list">
		<label>Mis imágenes</label>
		<ul>
			<li *ngFor="let imagen of list.gallery">
				<img src="/assets/images/imagen.png">
				<p>{{imagen.name}}</p>
			</li>
		</ul>	
	</div>
	<div class="box-buttons">
		<form [formGroup] = "imageForm">
			<input type="file" name="file" id="file" class="inputfile" (change)="onSelectFile($event)"/>
			<label for="file">Subir Imagen</label>
		</form>
	</div>	
</div>	
