<div class="galerie-content">
	<p class="title">Cambiar foto de perfil</p>
	<a (click)="onNoClick()" class="modal-close-cta">Cerrar <span class="icon icon-times"></span> </a>
	<div class="galerie-content--list">
		<label>Mis imágenes</label>
		<ul>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
			<li>
				<img src="/assets/images/imagen.png">
				<p>Imagen01.png</p>
			</li>
		</ul>	
	</div>
	<div class="box-buttons">
		<input type="file" name="file" id="file" class="inputfile" />
		<label for="file">Subir Imagen</label>
	</div>	
</div>	
