<div class="modal-form">

    <div class="two-columns">
        <a (click)="closeDialog()" _ngcontent-xaa-c25="" class="modal-close-cta">Cerrar <span _ngcontent-xaa-c25="" class="icon icon-times"></span></a>

        <div class="confirmation-img">
            <span class="icon icon-check"></span>
        </div>
        <hr class="modal-form__separator">

        <p class="message-section">
            {{title}}
            <span class="message-subtitle">
                {{subtitle}}
            </span>
        </p>

        <div class="footer">
            <button mat-stroked-button class="btn btn-primary" (click)="closeDialog()">
                Continuar
            </button>
        </div>

    </div>
</div>

