<div class="modal-form">
    <div class="two-columns">
        <a (click)="closeDialog()" class="modal-close-cta">Cerrar <span
                class="icon icon-times"></span></a>

        <div class="confirmation-img"
             [ngStyle]="{'border-color': config.iconColor}">
            <span class="icon"
                  [ngClass]="config && config.icon ? config.icon : 'icon-check'"
                  [ngStyle]="{color: config.iconColor}"></span>
        </div>

        <hr class="modal-form__separator" *ngIf="!config.isWarning">

        <p class="message-alert" *ngIf="config.isWarning">
            {{config.warningText}}
        </p>

        <p class="message-section" [ngStyle]="config.titleStyle">
            {{config.title}}
            <span class="message-subtitle" [ngStyle]="config.subtitleStyle" *ngIf="config.subtitle">
                {{config.subtitle}}
            </span>
        </p>

        <div class="footer">
            <button mat-button class="btn btn-cancel"
                    (click)="closeDialog()"
                    [ngStyle]="config.secondButtonStyle"
                    *ngIf="config.twoButtons">
                {{config.secondButton ? config.secondButton : 'Cancelar'}}</button>
            <button mat-button class="btn btn-primary"
                    (click)="closeDialog(true)"
                    [ngStyle]="config.mainButtonStyle">
                {{config.mainButton ? config.mainButton : 'Continuar'}}</button>
        </div>

    </div>
</div>
