#for your build environment.
#image: qdata/qciagent
image: qdata/qciagent:master-php7

pipelines:
    branches: #The branch section is a container for all branch-specific pipelines
        master:
            - step:
                script:
                - export HOST="ftp.ord1-1.websitesettings.com"
                - export TARGETFOLDER="/web/content/"
                - export SOURCEFOLDER='dist/hub-contenidos-front'
                - export FTPUSER=$PRODFTPUSER
                - export FTPPSWD=$PRODFTPPASS
                - npm install
                - npm install -g @angular/cli
                - ng build --prod --aot=true --buildOptimizer=true
                - /bin/bash /deploy.bash
                - echo "In Stage Branch"


        stage:
            - step:
                script:
                    - export HOST="ftp.ord1-1.websitesettings.com"
                    - export TARGETFOLDER="/web/content/"
                    - export SOURCEFOLDER='dist/hub-contenidos-front'
                    - export FTPUSER=$STGFTPUSER
                    - export FTPPSWD=$STGFTPPASS
                    - npm install
                    - npm install -g @angular/cli
                    - ng build --prod --aot=true --buildOptimizer=true
                    - /bin/bash /deploy.bash
                    - echo "In Stage Branch"

    default:
        - step:
            script:
                - echo "Running on the default job"
