$sideSpace: 16px;

#pdfUpload {
    min-width: 470px;
    padding: 8px 0 40px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pdf-title{
        border-bottom: 1px solid rgba(165, 171, 177, .35);
        display: flex;
        justify-content: space-between;
        width: 92%;
        h2 {
            color: #a5abb1;
            font-size: 14px;
            &.mat-dialog-title{
                margin: 0;
            }
        }
        .modal-close-cta{
            color: #616161;
            cursor: pointer;
            span{
                position: relative;
                top: 4px;
            }
        }
    }
    .content {
        margin: 0;
        padding: 0;
        max-height: 100%;
        width: 100%;
        overflow: visible;
    }
    .message-container {
        width: 100%;
        .message-box {
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            &.divider {
                padding: 20px 0;
                &::after {
                    border-bottom: 1px solid rgba(165, 171, 177, 0.35);
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 80%;
                    margin-left: 10%;
                }
            }
            .message-description{
                padding-bottom: 30px;
                font-size: .875em;
                color: #7f7f7f;
            }

            .up-file{
                font-family: "Roboto", sans-serif;
                background: #a4abb1;
                text-transform: uppercase;
                font-size: .750em;
                color: #ffff;
                border-radius: 4px;
                cursor: pointer;
                display: flex;
                height: 32px;
                align-items: center;
                justify-content: center;
                max-width: 156px;
                padding: 0 15px;
                box-sizing: border-box;
                font-weight: bold;
                .icon{
                    margin-right: 5px;
                }
            }
            .size-txt{
                margin-top: 12px;
                color: #7f7f7f;
                font-size: .68em
            }
        }

        .message-icon{
            width: 100%;
            .logo-board{
                width: 20%;
            }
        }

        .message-title {
            color: #FF003B;
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 15px;
            &.check{
              color: #19d600;
            }
        }

        .info-pdf{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            background: #f5f7fb;
            height: 36px;
            margin-bottom: 6%;
            font-family: "Helvetica Neue", sans-serif;
            padding: 0 50px;
            box-sizing: border-box;
            p {
                font-size: .750em;
                color: #6a6a6a;
                font-style: italic;

            }
            div {
                display: flex;
                align-items: center;
                p {
                    font-size: .75em;
                    color: #bdc2c7;
                    padding-right: 20px;
                }
            }
        }
    }

    .dialog-actions {
        width: 100%;
        min-height: 100%;
        margin-bottom: 0;
        padding: 0;
    }
    .pdf-btn{
        text-align: center;
        width: 100%;
        button{
            width: 134px;
        }
        .pdf-close{
            margin-right: 20px;
            box-shadow: none;
            color: #0b86ff;
            border: solid 1px #0b86ff;
        }
        .mat-primary{
            background-color: #0080ff;
            color: #ffff;
            &[disabled] {
                background-color: #bfdfff;
            }
        }
    }
}

/* Loader */

.pdf-spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    p{
        margin-top: 10px;
        color: #7f7f7f;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0080ff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
