@import '../../../assets/sass/_mixins';
/* .header_content{

} */

app-header {
    background: #ffffff;
    display: block;
}

header {
   height: 70px;
    border-bottom: solid 1px #EDEDED;
    width: 87%;
    max-width: 1440px;
    display: flex;
    margin: auto;

    & > .container {
        height: 100%;
        width: 100%;

        img.logo {
            width: 20%;
            height: auto;
        }

        .h-btn {
            float: right;
            border-left: solid 1px #EDEDED;

            &:hover {
                cursor: pointer;
            }
        }

        & > button {
            height: 100%;
            border: none;
            background: transparent;

            i {
                margin: auto 5px;
            }
        }

        .user-menu {

            img {
                height: 45px;
                margin: 12.5px 15px;
                border-radius: 22.5px;
            }

            span {
                bottom: 27px;
                position: relative;
                margin-right: 15px; 
                color: #616161;
                font-size: 13px;
                &:after {
                    top: 12px;
                    left: 15px;
                    content: '';
                    position: relative;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid #BEC5D0;
                }
            }
        }
        button{
            .notifications_icon{
                color: silver;
            }
        }
    }
}