@import '../../../assets/sass/_mixins';
/* .header_content{

} */

:host {
    background: #ffffff;
    display: block;
}

header {
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    border-bottom: solid 1px #EDEDED;

    & > .container {
        width: 88%;
        height: 100%;
        max-width: 1440px;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 768px) {
            justify-content: space-between;
        }
        img.logo-principal {
            height: 70px;
            margin-left: -15px;
            @media only screen and (max-width: 768px) {
                height: 55px;
                margin-left: 15px;
            }
        }

        a {
            height: 70px;
            color: #616161;
            margin-left: 0px;
            padding-right: 4.56em;
            display: inline-block;
            text-decoration: none;
            border-left: 1px solid #EDEDED;
            border-right: 1px solid #EDEDED;

            img.logo-board {
                height: 24px;
                margin: 23px 8px 0 15px;
            }

            span {
                bottom: 5px;
                position: relative;
                vertical-align: unset;
                margin-right: 15px;
                text-decoration: underline;
            }
        }

        .h-btn {
            border-left: solid 1px #EDEDED;
        }

        & > button {
            height: 100%;
            border: none;
            background: transparent;

            i {
                margin: 10px 5px 0;
                font-size: 26px;

                .mat-badge-content {
                    top: -12px;
                    right: -10px;
                    width: 18px;
                    height: 18px;
                    font-size: 11px;
                    line-height: 18px;
                    font-family: arial;
                    border: 2px solid white;
                    background-color: #0080FF;
                }
            }
        }

        .user-menu {
            img {
                height: 45px;
                margin: 12.5px 15px;
                border-radius: 22.5px;
            }

            span {
                bottom: 27px;
                position: relative;
                margin-right: 15px;
                color: #616161;
                font-size: 13px;
                @media only screen and (max-width: 768px) {
                    display: none;
                }
                &:after {
                    top: 12px;
                    left: 15px;
                    content: '';
                    position: relative;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid #BEC5D0;
                }
            }
        }

        .notifications {
            outline: none;
            @media only screen and (max-width: 768px) {
                display: none;
                &.notification_mobile {
                    display: block;
                    section{
                        max-height: 85vh;
                        width: 78vw;
                    }
                }
            }
            .notifications_icon{
                color: silver;
            }
        }

        .mobile_header {
            display: none;
            @media only screen and (max-width: 768px) {
                display: block;
                position: absolute;
                background: #ffffff;
                height: 100%;
                z-index: 9;
                left: 20%;
                top: 10%;
                width: 330px;
                .user-menu {
                    span {
                        display: block;
                        position: initial;
                    }
                }
            }
        }
    }
    .logout {
        font-size: 0.875rem;
        font-family: 'Helvetica Neue', sans-serif;
        color: #616161;
        display: flex;
        align-items: center;
        outline: none;
        .fas {
            font-size: 0.938rem;
            margin-left: 7px;
        }
    }
    .logout, .h-btn {
        &:hover {
            cursor: pointer;
        }
    }
    .all-right {
        margin-left: auto;
    }
}

.mobile_menu {
    .icon_menu {
        display: none;
    }
    .side_search {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .mobile_menu {
        display: none;
        .icon_menu {
            display: block;
        }
        .side_search {
            display: block;
        }
        display: block;
        color: #a0a0a0;
        span {
            font-size: 2em;
        }
        p {
            font-size: 0.8em;
        }
    }
}