<section class="content-wrap report">
	<div class="top-bar" *ngIf="view?.reports || view?.faq || view?.multimedia"></div>
	<app-left-bar (valueChange)="setCurrentState($event)"
				  (changeView)="changeView($event)"
				  [currentObj]="cleanObj" id="leftBar"></app-left-bar>
	<app-right-content *ngIf="view.reports"
					   [currentObj]="currentObj"
                       (changeView)="changeView($event)"
					   (valueChange)="setCurrentState($event)"></app-right-content>
	<app-edit-site *ngIf="view.editSite" (changeView)="changeView($event)"></app-edit-site>
    <app-faq-content *ngIf="view.faq" (changeView)="changeView($event)"></app-faq-content>
    <app-faq-button (changeView)="changeView($event)" [ngClass]="{'active': view.faq}"></app-faq-button>
    <app-multimedia *ngIf="view.multimedia" (changeView)="changeView($event)"></app-multimedia>
    <app-mobile-detail-view *ngIf="view.mobile && view.report && !view.comment" (changeView)="changeView($event)" [report]="view.report">
	</app-mobile-detail-view>
	<app-mobile-comment-view *ngIf="view.mobile && view.report && view.comment" (changeView)="changeView($event)" [report]="view.report">
    </app-mobile-comment-view>
</section>
