@import '../../../../assets/sass/_mixins';

.content-wrap {
	&.report {
		align-items: flex-start;
		flex-direction: row;
		height: 100%;
		justify-content: space-between;
		position: relative;

		@media only screen and (max-width: 720px){
			align-items: center;
			flex-direction: column;
			width: 100%;
			overflow-x: hidden;
		}
	}

	.top-bar {
		background: #FFFFFF;
		height: 60px;
		left: 0;
		position: absolute;
		top: 0;
		width: 150%;
		z-index: 0;
		@media only screen and (max-width: 1024px) {
			width: 94vw;
		}
		@media only screen and (max-width: 768px) {
			width: 98vw;
		}
	}
}

app-left-bar {
	position: relative;
	width: 24%;
	z-index: 1;
	@media only screen and (max-width: 720px) {
		position: absolute;
		left: 0;
	}

    @media only screen and (max-width: 375px) {
        height: 100%;
    }
}

app-right-content{
	position: relative;
	width: 72%;
	z-index: 2;
	@media only screen and (max-width: 600px) {
		width: 100%;
		background-color: #ffffff;
	}
}

app-mobile-detail-view {
    width: 100%;
    height: 1200px;
}
