header {
	height: 52px;
	padding: 0px 12px;
	font-weight: bold;
	border-bottom: solid 1px #EAEAEA;

	h1 {
		font-size: 14px;
		padding-top: 19px;
	}

	.close-btn {
		float: right;
		border: none;
		cursor: pointer;
		padding: 18px 0px 0px;
		background: transparent;

		i {
			font-size: 16px;
		}
	}
}

section {
	height: 100%;
	padding: 12px;

	.mat-card {
		padding: 0px;
		box-shadow: none;
		border: solid 1px #E2EAF1;
		background-color: #F8F8F8;

		.mat-card-header {
			height: 38px;
			padding: 0px 12px;
			border-bottom: solid 1px #E2EAF1;

			.mat-card-avatar {
				width: auto;

				img {
					width: auto;
					height: 24px;
					margin-top: 8px;
					border-radius: 50%;
				}
			}

			.mat-card-title {
				font-size: 0.75rem;
				margin-bottom: 10px;
			}

			.mat-card-subtitle {
				font-size: 0.65rem;
			}
		}

		.mat-card-content {
			padding: 10px 5px;
		}
	}
}