header {
	height: 52px;
	padding: 0px 12px;
	font-weight: bold;
	border-bottom: solid 1px #EAEAEA;

	h1 {
		font-size: 14px;
		padding-top: 19px;
	}

	.close-btn {
		float: right;
		border: none;
		cursor: pointer;
		padding: 18px 0px 0px;
		background: transparent;

		i {
			font-size: 16px;
		}
	}
}

section {
	height: 100%;
	padding: 12px;

	.mat-card {
		padding: 0px;
		margin-bottom: 12px;
		box-shadow: none;
		border: solid 1px #E2EAF1;

		&.comment-form {
			background-color: #F8F8F8;

			.mat-card-header {
				border-bottom: solid 1px #E2EAF1;
			}
		}

		.mat-card-header {
			height: 38px;
			padding: 0px 12px;
			display: block ruby;

			.mat-card-avatar {
				width: auto;
				display: inline;

				div.avatar {
					width: 24px;
					height: 24px;
					margin-top: 8px;
					border-radius: 12px;
					background-color: #FF7600;
				}

				img {
					width: auto;
					height: 24px;
					margin-top: 8px;
					border-radius: 50%;
				}
			}

			.mat-card-title {
				font-size: 0.75rem;
				margin-bottom: 10px;
			}

			.mat-card-subtitle {
				font-size: 0.65rem;
			}

			.comment-close {
				float: right;
				padding: 0px;
				border: none;
				cursor: pointer;
				margin-top: 12px;
				background: transparent;

				span::before {
					margin: 0px;
					font-size: 14px;
					color: #A5ABB1;
				}
			}
		}

		.mat-card-content {
			padding: 12px 8px;

			&.form {
				padding: 12px 14px 12px 8px;

				textarea {
					width: 96%;
					height: 17px;
					padding: 6px;
					resize: none;
					border-radius: 5px;
					border: solid 1px #E2EAF1;
					font-size: 14px;
					font-family: 'Helvetica Neue', sans-serif;
					overflow:auto;

					&:focus {
						min-height: 51px;
						padding-bottom: 17px;
					}
				}

				button {
					border: none;
					padding: 0px;
					cursor: pointer;
					background: transparent;
					float: right;
					position: relative;
					bottom: 25px;
					right: 15px;

					i {
						color: #0080ff;
						font-size: 18px;
						font-weight: bold;
					}
				}
			}

			p {
				color: #616161;
				margin-left: 40px;
				font-size: 0.75rem;
			}

			.actions {
				height: 20px;

				.btn-resolve {
					float: right;
					color: #A5ABB1;
					padding: 0px 8px;
					font-size: 0.7rem;
					line-height: 20px;
				}
			}

		}
	}
}