@import '../../../../../assets/sass/_mixins';

.content {	
	&--top {
		@include display-flex;
		align-items: center;
		background: #FFFFFF;
		height: 60px;
		justify-content: space-between;
		width: 100%;	
	}

	.message {
		color: #616161;
		font-size: 1.125em;
	}
}


section {
	background: #E7ECF4;
	&.tabs {
		.mat-tab-group {
			.mat-tab-label {
				width: auto;
				min-width: auto;
				background: purple;
				color: red;
			}
		}
	}
}

.mat-raised-button {
	background: #FF003B;
	box-shadow: none;
	color: #FFFFFF;
	padding: 0 40px;

	.mat-button-wrapper {
		font-size: 0.875em;
	}
}

.report-list {
	.row {
		@include display-flex;
		@include border-radius(10px);
		align-items: center;
		background: #FFFFFF;
		border: #F5F5F5 1px solid;
		color: #5C5C5C;
		height: auto;
		justify-content: space-between;
		margin: 2vh 4%;
		min-height: 76px;
		padding: 0 3%;
		position: relative;

		&.yellow {
			&:after {
				background: #F9E333;
			}
		}

		&.green {
			&:after {
				background: #19D600;
			}
		}

		&.cian {
			&:after {
				background: #00FFF5;
			}
		}

		&.red {
			&:after {
				background: #FF003B;
			}
		}

		&.gray {
			&:after {
				background: #D9D9D9;
			}
		}

		&:after {
			@include border-radius-left(10px);

			content: '';
			height: 100%;
			left: -1px;
			position: absolute;
			top: 0;
			width: 1%;
		}


	}

	.report{
		&--title {
			font-style: 1em;
			font-weight: 500;
			max-width: 40%;
		}

		&--span {
			font-size: 0.688em;
			font-style: italic;
		}

		&--menu {
			border: none;
			color: #BEC5D0;
			cursor: pointer;
			font-size: 1.188em;
			margin: 0;
			padding: 0;
			position: relative;
			text-align: center;
			width: auto;

			&:focus {
				outline: none;
			}

			&:after {
				background: #F5F5F5;
				bottom: 0;
				content: "";
				height: 200%;
				left: -20px;
				margin: auto;
				position: absolute;
				top: 0;
				width: 1px;
			}

			&:before {
				margin:0;
			}
		}


		&--menu-list {
			@include border-radius(10px);

			background: #ffffff;
			border: 1px solid #0080FF;
			display: none;
			position: absolute;
			padding: 10px 10px 16px 10px;
			right: 0;
			width: 150px;
			z-index: 100;

			li {
				padding: 6px 0;
				border-bottom: 1px solid #EDEDED;

				.icon {
					color: #5C5C5C;
					font-size:0.750em;
					border: none;

					&:before {
						color: #0080FF;
						font-size: 0.833em;
					};
				}
			}

			&.active {
				display: block;
			}

		}
		// &--line {
		// 	@include border-radius-left(10px);

		// 	background: #F9E333;
		// 	height: 100%;
		// 	left: -1px;
		// 	position: absolute;
		// 	top: 0;
		// 	width: 1%;
		// }

	}
}

//Materialize


