<div class="content">
    <div class="content--top">
        <span class="message" *ngIf="!marketing">
            {{icurrentObj.currentStateName ? icurrentObj.currentStateName : 'Todos Informes'}}
            ({{pager.totalItems ? pager.totalItems : '0' }})</span>
        <span class="message" *ngIf="marketing">
            {{category ? category.description : 'Todos Informes'}}
        </span>
        <div class="insert_btn" *ngIf="!marketing">
            <button mat-raised-button class="insert_icon" [matMenuTriggerFor]="insert">
                <span class="insert_text">Insertar</span><span class="icon_insert">&nbsp;</span>
            </button>
            <mat-menu #insert="matMenu" class="insert_menu-btn">
                <div class="matmenu_insert">
                    <button mat-menu-item class="open_insert">Palabra al glosario</button>
                    <button mat-menu-item (click)="openTagDialog()" class="open_insert">Tags de tendencia</button>
                </div>
          </mat-menu>
        </div>
        <div class="info_btn" *ngIf="!marketing">
            <button mat-raised-button (click)="openDialog()">Crear Nuevo Informe <span>&nbsp;</span></button>
        </div>
    </div>

    <div class="top-section-list" >
        <div class="back-btn" *ngIf="isFiltering() && !marketing">
            <a (click)="cleanFilters()">&#60; Volver </a>
        </div>
        <div class="search-container">
            <button class="button-reset" (click)="cleanFilters()" *ngIf="canClearFilters">Limpiar filtros</button>

            <input type="text" class="search_input" (keyup)="filterReports($event.target.value)"
                placeholder="Busca informes, personas o fechas..."><i class="icon icon-calendar"
                (click)="toggleCalendar()"> Por fecha: </i>
        </div>
        <div class="overlay" *ngIf="calendarOpen">
        </div>
        <div class="date-container calendar-container" *ngIf="calendarOpen">
            <a _ngcontent-xoo-c17="" class="modal-close-cta" (click)="toggleCalendar()">Cerrar <span
                    _ngcontent-xoo-c17="" class="icon icon-times"></span></a>
            <h3 class="calendar-container--title">Búsqueda por fecha</h3>
            <p class="calendar-container--info">Debe seleccionar fecha inicial y fecha final.</p>
            <div class="calendar-container--form">
                <mat-form-field class="input-left">
                    <input matInput placeholder="Fecha de" [(ngModel)]="startDate" disabled='disabled'>
                </mat-form-field>
                <mat-form-field class="">
                    <input matInput placeholder="Fecha a" [(ngModel)]="endDate" disabled='disabled'>
                </mat-form-field>
            </div>
            <ngx-daterangepicker-material class="box-content" autoApply=true (datesUpdated)="onDateUpdate($event)">
            </ngx-daterangepicker-material>
            <button class="mat-button mat-button-base" (click)="toggleCalendar()">Cancelar</button>
            <button type="button" (click)="filterDateReports()" mat-raised-button>Filtrar Ahora</button>
        </div>
    </div>

    <div class="block-wrapper">
        <section class="tabs">
            <mat-tab-group (selectedTabChange)="tabClick($event)" [(selectedIndex)]="tabIndex">
                <mat-tab label="{{marketing ? 'Informes' : 'Mis informes'}}">
                    <div>
                        <div class="category-container" *ngIf="marketing && category">
                            <span class="message scmessage">
                                {{category ? category.description : 'Todos Informes'}}
                            </span>
                            <div *ngIf="!editingCategory" class="info">
                                <p>{{category.fullDescription}}</p>
                                <button type="button" class="editCategoryBtn form-button mat-button mat-raised-button" (click)="editingCategory = true">Editar</button>
                            </div>
                            <form *ngIf="editingCategory" class="category-container__body" [formGroup]="categoryFormFields" (submit)="onSaveCategory($event)">
                                <textarea [value]="category.fullDescription" formControlName="fullDescription"></textarea>
                                <div class="left-area">
                                    <input class="normal" type="text" placeholder="Escribir meta-titulo"  formControlName="metaTitle">
                                    <div class="description_area">
                                        <div class="area_content">
                                            <textarea class="normal" rows="4" placeholder="Escribir meta-descripciones"  formControlName="metaDescription"></textarea>
                                        </div>
                                        <div class="area_select">
                                            <ng-select [items]="fullReportList" bindValue="name" bindLabel="name"
                                            placeholder="-Seleccione Informe destacado-"
                                            [virtualScroll]="true" dropdownPosition="top" (change)="onCategoryOptionsSelected($event)"
                                            [clearable]="false" class="custom-select custom-select--create-report">
                                            </ng-select>
                                        </div>
                                    </div>

                                </div>
                                <div class="right-area category-container__fields">
                                    <div class="form-field form-field--half upload">
                                        <label class="upload__label" for="outstandingImg">
                                            <span class="icon icong-upload">
                                            </span>Subir imagen</label>
                                        <p class="upload__alert">Tamaño máximo hasta 25MB</p>
                                        <input id="outstandingImg" name="outstandingImg" type="file" (change)="onFileSelect($event)">
                                        <p class="error"></p>
                                    </div>
                                </div>
                                <div class="box">
                                    <button type="button" class="form-button mat-button mat-raised-button" (click)="onSaveCategory($event)">Guardar</button>
                                    <button type="button" class="form-button mat-button mat-button-base" (click)="editingCategory = false">Cancelar</button>
                                </div>
                            </form>
                        </div>
                        <div class="folder_container" *ngIf="getCheckboxesSelected().length">
                            <p class="info_move-text">Mover a:</p>
                            <mat-form-field class="simple" floatLabel="never">
                                <mat-label class="folder_label">Escoger</mat-label>
                                <mat-select (selectionChange)="moveReports($event)" class="info_select">
                                    <mat-option class="info_options" *ngFor="let folder of list.folders"
                                        [value]="folder.id">{{folder.name}}</mat-option>
                                    <mat-option class="info_options" *ngIf="!icurrentObj.deletedFg">
                                        <p class="delete_field" (click)="deleteReports()">Papelera</p>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="operation-cta" *ngIf="icurrentObj.deletedFg">
                                <ul class="delete_icons">
                                    <li><i class="material-icons">replay</i><a (click)="restoreReports()">Recuperar</a>
                                    </li>
                                    <li><a class="icon icon-trash-alt" (click)="deeplyDeleteReports()">Eliminar</a></li>
                                    <li><a class="icon icon-trash-alt active" (click)="deleteAllReports()">Eliminar
                                            todo</a></li>
                                </ul>
                            </div>
                            <div class="operation-cta crown_btn" *ngIf="!icurrentObj.deletedFg">
                                <ul>
                                    <li *ngIf="canHighlightReport()">
                                        <a (click)="openHighlightDialog('0')">
                                            <span><img src="/assets/images/corona.svg" alt="">Destacar informe</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="selected-count" *ngIf="getCheckboxesSelected().length">
                            <p>{{getCheckboxesSelected().length}} de {{list.reports?.length}} Seleccionados</p>
                        </div>
                        <div class="trash_info" *ngIf="icurrentObj.deletedFg">
                            <p>Los informes que lleven <b>más de 30 días</b> en la papelera se eliminarán
                                automáticamente.</p>
                        </div>
                        <div *ngIf="!list.reports.length" class="delete_reports">
                            <div *ngIf="icurrentObj.deletedFg || finishFilter ">
                                <img src="/assets/images/file-alt.png" alt="">
                                <p *ngIf="icurrentObj.deletedFg">No hay informes en la papelera
                                <p *ngIf="finishFilter">No se encontraron resultados a su busqueda.
                                </p>
                            </div>
                        </div>
                        <form class="reports_form" [formGroup]="listForm" *ngIf="list.reports.length">
                            <ul class="report-list info_content" formArrayName="reports" style="margin-bottom: 100px;">
                                <li *ngFor="let report of list.reports; let i = index">
                                    <div class="row" [ngClass]="report.state.color">
                                        <span class="report--span report_name"
                                            [ngClass]="{'icong-crown':isHighlighted(report.id)}">{{report.state.name}}</span>
                                        <mat-checkbox [formControlName]="i" *ngIf="!marketing" (change)="checkElemet($event)">

                                        </mat-checkbox>
                                        <h2 class="report--title">{{report.name}}</h2>
                                        <span
                                            class="report--span report_content">{{(report.updatedAt ? report.updatedAt : report.createdAt) | date: 'shortDate'}}</span>
                                        <span class="report--span report_content">{{report.user?.name}}</span>
                                        <div class="group-menu">
                                            <button class="report--menu icon icon-ellipsis-h"></button>
                                            <ul class="report--menu-list">
                                                <li *ngIf="!icurrentObj.deletedFg"><button class="icon icon-edit"
                                                        (click)="gotoPage(report.id)">Editar</button></li>
                                                <li *ngIf="!marketing"><button class="icon icon-copy"
                                                        (click)="onCloneReport(i)">Duplicar</button></li>
                                                <li *ngIf="!marketing"><button class="icon icon-trash-alt"
                                                        (click)="onDeleteReport(i)">Eliminar</button></li>
                                                <li *ngIf="!icurrentObj.deletedFg"><button class="icon icon-search-plus"
                                                        (click)="openPreviewDialog(report.id)">Vista previa</button>
                                                </li>
                                                <li *ngIf="showOptionMenu(report.state.id) && !marketing"><button
                                                        class="icong icong-crown"
                                                        (click)="openHighlightDialog(report.id)">Destacar</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </mat-tab>

                <mat-tab *ngIf="!marketing && !isBasicUser">
					<ng-template mat-tab-label>
						<span [ngClass]="{'pending': pendingToReview}">Por revisar</span>
					</ng-template>
                    <div>
                        <div class="trash_info" *ngIf="icurrentObj.deletedFg">
                            <p>Los informes que lleven <b>más de 30 días</b> en la papelera se eliminarán
                                automáticamente.</p>
                        </div>
                        <div class="folder_container" [formGroup]="selects" *ngIf="isShowingReviewedFilter()">
                            <p class="info_move-text">Mover a:</p>
                            <mat-form-field class="simple" floatLabel="never">
                                <mat-label class="folder_label">Escoger</mat-label>
                                <mat-select (selectionChange)="moveReports($event)" class="info_select" [disabled]="getCheckboxesSelected().length === 0">
                                    <mat-option class="info_options" *ngFor="let folder of list.folders"
                                        [value]="folder.id">{{folder.name}}</mat-option>
                                    <mat-option class="info_options">
                                        <p class="delete_field" (click)="deleteReports()">Papelera</p>
                                    </mat-option>
                                </mat-select>
							</mat-form-field>

                            <p class="info_move-text filter" *ngIf="!isFilteringByState()">Filtrar por:</p>
                            <div class="filter-wrapper" *ngIf="!isFilteringByState()">
                                <ng-select [items]="filterOptions"
                                        [clearable] = "false"
                                        [searchable] = "false"
                                        placeholder="Escoger"
                                        (change)="reviewedFilter($event)"
                                        bindLabel="value"
                                        bindValue="value"
                                        class="custom-select custom-select--filter"
                                        formControlName="filterSelect">
                                </ng-select>
                            </div>
                        </div>
                        <div class="selected-count" *ngIf="getCheckboxesSelected().length">
                            <p>{{getCheckboxesSelected().length}} de {{list.reports?.length + list.reviewed?.length}} Seleccionados</p>
                        </div>
                        <form class="reports_form" [formGroup]="listForm" *ngIf="list.reports.length">
                            <ul class="report-list info_content" formArrayName="reports" style="margin-bottom: 50px">
                                <li *ngFor="let report of list.reports; let i = index">
                                    <div class="row" [ngClass]="report.state.color">
                                        <span class="report--span report_name"
                                            [ngClass]="{'icong-crown':isHighlighted(report.id)}">{{report.state.name}}</span>
                                        <mat-checkbox [formControlName]="i">
                                        </mat-checkbox>
                                        <h2 class="report--title">{{report.name}}</h2>
                                        <span
                                            class="report--span report_content">{{(report.updatedAt ? report.updatedAt : report.createdAt) | date: 'shortDate'}}</span>
                                        <span class="report--span report_content">{{report.user?.name}}</span>
                                        <div class="group-menu">
                                            <button class="report--menu icon icon-ellipsis-h"></button>
                                            <ul class="report--menu-list">
                                                <li><button class="icon icon-edit"
                                                        (click)="gotoPage(report.id)">Editar</button></li>
                                                <li><button class="icon icon-copy"
                                                        (click)="onCloneReport(i)">Duplicar</button></li>
                                                <li><button class="icon icon-trash-alt"
                                                        (click)="onDeleteReport(i)">Eliminar</button></li>
                                                <li><button class="icon icon-search-plus"
                                                        (click)="openPreviewDialog(report.id)">Vista previa</button>
                                                </li>
                                                <li *ngIf="showOptionMenu(report.state.id)"><button
                                                        class="icong icong-crown"
                                                        (click)="openHighlightDialog(report.id)">Destacar</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!-- revised reports -->
                            <div class="revised_content" *ngIf="isShowingReviewedList()">
                                <ul class="report-list info_content" formArrayName="reviewed"
                                    style="margin-bottom: 100px">
                                    <h1>Informes revisados</h1>
                                    <li *ngFor="let report of list.reviewed; let i = index">
                                        <div class="row" [ngClass]="report.state?.color">
                                            <span class="report--span report_name">{{report.state.name}}</span>
                                            <mat-checkbox [formControlName]="i">
                                                <span class="checkt"></span>

                                            </mat-checkbox>
                                            <h2 class="report--title">{{report.name}}</h2>
                                            <span
                                                class="report--span report_content">{{(report.updatedAt ? report.updatedAt : report.createdAt) | date: 'shortDate'}}</span>
                                            <span class="report--span report_content">{{report.user?.name}}</span>
                                            <div class="group-menu">
                                                <button class="report--menu icon icon-ellipsis-h"></button>
                                                <ul class="report--menu-list">
                                                    <li><button class="icon icon-edit"
                                                            (click)="gotoPage(report.id)">Editar</button></li>
                                                    <li><button class="icon icon-copy"
                                                            (click)="onCloneReport(i)">Duplicar</button></li>
                                                    <li><button class="icon icon-trash-alt"
                                                            (click)="onDeleteReport(i)">Eliminar</button></li>
                                                    <li><button class="icon icon-search-plus"
                                                            (click)="openPreviewDialog(report.id)">Vista previa</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section>
        <div class="paginations" *ngIf="pager.pages.length">
            <a *ngIf="pager.selected > 0" (click)="loadReports(ifilter, pager.pages[pager.selected - 2])"
                class="arrow_left">&#x3c;</a>
            <a class="label paginator_label">Página</a>
            <a class="paginator_numbers" *ngFor="let item of pager.pages"
                [ngClass]="{'active': (pager.selected == item.index)}"
                (click)="loadReports(ifilter, item)">{{item.index}}</a>
            <a *ngIf="pager.selected < pager.totalPages" (click)="loadReports(ifilter, pager.pages[pager.selected])"
                class="arrow_right">&#x3e;</a>
        </div>
    </div>

</div>
