<div class="content">
	<div class="content--top">
		<span class="message">{{icurrentObj.currentStateName ? icurrentObj.currentStateName : 'Todos Informes'}} ({{list.reports ? list.reports.length : 0}})</span>
		<button mat-raised-button (click)="openDialog()">Crear Nuevo Informe</button>
	</div>

	<div class="top-section-list">
		<div class="back-btn" *ngIf="isFiltering()">
			<a (click)="cleanFilters()">&#60; Volver </a>
		</div>
		<div class="search-container">
			<input type="text" (keydown.enter)="filterReports($event.target.value)" placeholder="Busca informes, personas o fechas..."><i class="calender-icon" (click)="toggleCalendar()"> Por fecha: </i>
		</div>
		<div class="date-container calender-container" *ngIf="calendarOpen">
			<ngx-daterangepicker-material (choosedDate)="filterDateReports($event)"></ngx-daterangepicker-material>
		</div>
	</div>

	<div class="block-wrapper">
		<section class="tabs">
			<mat-tab-group (selectedTabChange)="tabClick($event)">
				<mat-tab label="Mis Informes">
					<div>
						<div *ngIf="getCheckboxesSelected().length">
							<mat-form-field class="simple" floatLabel="never">
								<mat-label>Mover a:</mat-label>
								<mat-select (selectionChange)="moveReports($event)">
									<mat-option *ngFor="let folder of list.folders" [value]="folder.id">{{folder.name}}</mat-option>
								</mat-select>
							</mat-form-field>
							<button type="button" (click)="deleteReports()">Eliminar</button>
						</div>
						<form class="" [formGroup]="listForm" *ngIf="list.reports.length">
							<ul class="report-list" formArrayName="reports">
								<li *ngFor="let report of list.reports; let i = index">
									<div class="row" [ngClass]="report.state.color">
										<span class="report--span">{{report.state.name}}</span>
										<mat-checkbox [formControlName]="i">
											<h2 class="report--title">{{report.name}}</h2>
										</mat-checkbox>
										<span class="report--span">{{(report.updatedAt ? report.updatedAt : report.createdAt) | date: 'shortDate'}}</span>
										<span class="report--span">{{report.user?.name}}</span>
										<div class="group-menu">
											<button class="report--menu icon icon-ellipsis-h"></button>
											<ul class="report--menu-list">
												<li><button class="icon icon-edit" (click)="gotoPage(report.id)">Editar</button></li>
												<li><button class="icon icon-copy" (click)="onCloneReport($event,i)">Duplicar</button></li>
												<li><button class="icon icon-trash-alt" (click)="onDeleteReport($event,i)">Eliminar</button></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</mat-tab>

				<mat-tab label="Por revisar">
					<div>
						<div *ngIf="getCheckboxesSelected().length">
							<mat-form-field class="simple" floatLabel="never">
								<mat-label>Mover a:</mat-label>
								<mat-select (selectionChange)="moveReports($event)">
									<mat-option *ngFor="let folder of list.folders" [value]="folder.id">{{folder.name}}</mat-option>
								</mat-select>
							</mat-form-field>
							<button type="button" (click)="deleteReports()">Eliminar</button>
						</div>
						<form class="" [formGroup]="listForm" *ngIf="list.reports.length">
							<ul class="report-list" formArrayName="reports">
								<li *ngFor="let report of list.reports; let i = index">
									<div class="row" [ngClass]="report.state.color">
										<span class="report--span">{{report.state.name}}</span>
										<mat-checkbox [formControlName]="i">
											<h2 class="report--title">{{report.name}}</h2>
										</mat-checkbox>
										<span class="report--span">{{(report.updatedAt ? report.updatedAt : report.createdAt) | date: 'shortDate'}}</span>
										<span class="report--span">{{report.user?.name}}</span>
										<div class="group-menu">
											<button class="report--menu icon icon-ellipsis-h"></button>
											<ul class="report--menu-list">
												<li><button class="icon icon-edit" (click)="gotoPage(report.id)">Editar</button></li>
												<li><button class="icon icon-copy" (click)="onCloneReport($event,i)">Duplicar</button></li>
												<li><button class="icon icon-trash-alt" (click)="onDeleteReport($event,i)">Eliminar</button></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</form>
					</div>
				</mat-tab>
			</mat-tab-group>
		</section>
		<div class="paginations" *ngIf="pager.pages.length">
			<a *ngIf="pager.selected > 1" (click)="loadReports(ifilter, pager.pages[pager.selected - 2])">&#x3c;</a>
			<a class="label">Página</a>
			<a *ngFor="let item of pager.pages" [ngClass]="{'active': (pager.selected == item.index)}" (click)="loadReports(ifilter, item)">{{item.index}}</a>
			<a *ngIf="pager.selected < pager.totalPages" (click)="loadReports(ifilter, pager.pages[pager.selected])">&#x3e;</a>
		</div>
	</div>

</div>
