@import '../../../../../assets/sass/_mixins';

app-right-content.tabs.mat-tab-group.mat-tab-header {
    background: #f5f7fb !important;
}

.top-section-list {
    .back-btn {
        margin-top: 15px;
        font-size: 12px;
        color: #939393;
        cursor: pointer;
    }

    .search-container  {
        text-align: right;
        margin: 20px 0px;
        input {
            width: 250px;
            line-height: 11px;
            padding: 5px 5px;
            font-style: italic;
            color: #ced3dc;
            font-size: 12px;
            font-weight: 200;
            ::placeholder {
                color: #ced3dc;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #ced3dc;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: #ced3dc;
            }
        }
    }
}

.content {
	&--top {
		@include display-flex;
		align-items: center;
		background: #FFFFFF;
		height: 60px;
		justify-content: space-between;
		width: 100%;
	}

	.message {
		color: #616161;
		font-size: 1.125em;
	}
}


section {
	background: #E7ECF4;
	&.tabs {
		.mat-tab-group {
			.mat-tab-label {
				width: auto;
				min-width: auto;
				background: purple;
				color: red;
			}
		}
	}
}

.mat-raised-button {
	background: #FF003B;
	box-shadow: none;
	color: #FFFFFF;
	padding: 0 40px;

	.mat-button-wrapper {
		font-size: 0.875em;
	}
}

.report-list {
	.row {
		@include display-flex;
		@include border-radius(10px);
		align-items: center;
		background: #FFFFFF;
		border: #F5F5F5 1px solid;
		color: #5C5C5C;
		height: auto;
		justify-content: space-between;
		margin: 2vh 4%;
		min-height: 76px;
		padding: 0 3%;
		position: relative;

		&.yellow {
			&:after {
				background: #F9E333;
			}
		}

		&.green {
			&:after {
				background: #19D600;
			}
		}

		&.cian {
			&:after {
				background: #00FFF5;
			}
		}

		&.red {
			&:after {
				background: #FF003B;
			}
		}

		&.gray {
			&:after {
				background: #D9D9D9;
			}
		}

		&:after {
			@include border-radius-left(10px);

			content: '';
			height: 100%;
			left: -1px;
			position: absolute;
			top: 0;
			width: 1%;
		}


	}

	.report{
		&--title {
			font-style: 1em;
			font-weight: 500;
			width: 40%;
		}

		&--span {
			font-size: 0.688em;
			font-style: italic;
		}

		&--menu {
			border: none;
			color: #BEC5D0;
			cursor: pointer;
			font-size: 1.188em;
			margin: 0;
			padding: 0;
			position: relative;
			text-align: center;
			width: auto;

			&:hover {
				color: #0080FF;

				+ .report--menu-list {
					display: block;
				}
			}

			&:focus {
				outline: none;
			}

			&:after {
				background: #F5F5F5;
				bottom: 0;
				content: "";
				height: 200%;
				left: -20px;
				margin: auto;
				position: absolute;
				top: 0;
				width: 1px;
			}

			&:before {
				margin:0;
			}
		}


		&--menu-list {
			@include border-radius(10px);

			background: #ffffff;
			border: 1px solid #0080FF;
			box-sizing: border-box;
			display: none;
			position: absolute;
			padding: 10px 10px 16px 10px;
			right: 0;
			width: 130px;
			z-index: 100;

			&:after {
					border-right: 1px solid #0080FF;
				    border-top: 1px solid #0080FF;
				    color: transparent;
				    cursor: pointer;
				    display: inline-block;
				    height: 10px;
				    position: absolute;
				    right: 30px;
				    top: 0;
				    width: 10px;
				    -ms-: rotate(315deg);
				    transform: rotate(315deg);
				    position: absolute;
				    top: -6px;
					content: '';
			}

			&:before {
				content: "";
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid #ffffff;
				position: absolute;
				top: -8px;
				right: 28px;
				width: 0;
			}


			&:hover {
				display: block;

				+ .report--menu {
					color: red;
				}
			}

			li {
				padding: 6px 0;
				border-bottom: 1px solid #EDEDED;

				.icon {
					color: #5C5C5C;
					cursor: pointer;
					font-size:0.750em;
					border: none;

					&:before {
						color: #0080FF;
						font-size: 0.833em;
					};

					&:hover {
						color: #616161;
						font-weight: bold;
					}
				}
			}

			&.active {
				display: block;
			}

		}
		// &--line {
		// 	@include border-radius-left(10px);

		// 	background: #F9E333;
		// 	height: 100%;
		// 	left: -1px;
		// 	position: absolute;
		// 	top: 0;
		// 	width: 1%;
		// }
	}
}




