.dialog {
	display: flex;
	height: 100%;

	&__iframe {
		width: 70%;

		.preview-icon {
			position: absolute;
			right: 15px;
			top: 15px;
			color: #616161;
			cursor: pointer;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__comments {
		width: 30%;
	}
}
