iframe {
	width: 100%;
	height: 100%;
}
.preview-icon{
	position: absolute;
    right: 11%;
	top: 11%;
	color: #616161;
	cursor: pointer;
	@media only screen and (max-width: 1280px) {
		right: 6%;
	}
}