.dialog {
	display: flex;
	height: 100%;

	&__iframe {
		width: 60%;

		.preview-icon {
			position: absolute;
			right: 15px;
			top: 15px;
			color: #616161;
			cursor: pointer;
			display: none;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__comments {
		width: 21%;
		h1 {
			font-weight: bold;
		}
		mat-card-subtitle {
			display: none;
			&.publication_time {
				display: block;
				margin: 0;
				padding-top: 5px;
			}
		}
		app-comment-box {
			section  {
				.mat-card {
					background-color: #F4F9FF;
    				border-left: solid 3px #0080FF;
					.mat-card-header {
						display: flex;
						align-items: center;
						.mat-card-title {
							margin-bottom: 0;
						}
					}
				}
				mat-card {
					&.comment-form {
						mat-card-content {
							&.mat-card-content {
								padding: 5px 14px 5px 8px;;
								textarea {
									height: 35px;
									&::-webkit-scrollbar {
										display: none;
									}
									&:focus {
										outline: none;
									}
									&.expand {
										min-height: 75px;
									}
								}
								button {
									i {
										color: #C2CBD1;
										margin-top: -15px;
									}
								}
							}
						}
					}
					&.comment-form {
						background-color: #F4F9FF;
						border-left: solid 3px #0080FF;
						mat-card-header {
							&.mat-card-header {
								display: flex;
								align-items: center;
								border-bottom: none;
							}
							.comment-close {
								top: 0;
								&:focus {
									outline: none;
								}
							}
						}
					}
					.comment-close {
						span.icon-trash-alt {
							display: none;
						}
					}
				}
			}
		}
	}
}

.indicator {
	position: relative;
	z-index: 2;
    &__cta {
        position: absolute;
        z-index: 2;
        left: 60px;
        margin-top: 40px;
    }

    &__cta-link {
        background-color: #ffffff ;
        border-radius: 7px;
    	border: solid 2px #0080FF;
		top: 0;
    	right: 17em;
        box-shadow: 2px 2px 5px fade( #000000, 30% ) ;
        color: #0080FF !important;
        cursor: pointer;
        padding: 5px 15px;
        position: absolute;
        transform: translateX( -50% );
		white-space: nowrap;
		font-weight: 500;

        &:after {
            bottom: -14px ;
            font-size: 15px ;
            left: 50% ;
            line-height: 15px ;
            content: "▼" ;
            color: #0080FF ;
            position: absolute ;
            transform: translateX( -50% ) ;
        }
		i {
			color: #0080FF;
			font-size: 21px;
		}
    }
}
