<body class="dialog">
    <div class="dialog__iframe" textSelect (textSelectEvent)="renderRectangles($event)" (clickEvent)="contentOnClick($event)">
        <a class="preview-icon" (click)="closeDialog()"><span class="icon icon-times"></span></a>
        <div *ngIf="myhtml" [innerHTML]="myhtml"></div>
    </div>
    <div class="dialog__comments">
        <app-comment-box *ngIf="report" [report]="report"
                         [showHeader]="true" [(threadId)]="threadId"
                         (commentResolved)="onCommentResolved($event)">
        </app-comment-box>
    </div>
</body>
