.dialog {
	display: flex;
	height: 100%;

	&__iframe {
		width: 60%;

		.preview-icon {
			position: absolute;
			right: 15px;
			top: 15px;
			color: #616161;
			cursor: pointer;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__comments {
		width: 21%;
		h1 {
			font-weight: bold;
		}
		mat-card-subtitle {
			display: none;
		}
		app-comment-box {
			section  {
				.mat-card {
					background-color: #F4F9FF;
    				border-left: solid 3px #0080FF;
					.mat-card-header {
						display: flex;
						align-items: center;
						.mat-card-title {
							margin-bottom: 0;
						}
					}
				}
				mat-card {
					&.comment-form {
						mat-card-content {
							&.mat-card-content {
								padding: 5px 14px 5px 8px;;
								textarea {
									height: 35px;
									&::-webkit-scrollbar {
										display: none;
									}
									&:focus {
										outline: none;
									}
									&.expand {
										min-height: 75px;
									}
								}
								button {
									i {
										color: #C2CBD1;
										margin-top: -15px;
									}
								}
							}
						}
					}
					&.comment-form {
						background-color: #F4F9FF;
						border-left: solid 3px #0080FF;
						mat-card-header {
							&.mat-card-header {
								display: flex;
								align-items: center;
								border-bottom: none;
							}
							.comment-close {
								top: 0;
								&:focus {
									outline: none;
								}
							}
						}
					}
					.comment-close {
						span.icon-trash-alt {
							display: none;
						}
					}
				}
			}
		}
		.switch {
			display: none;
		}
	}
}
