
::ng-deep {
    .mat-tab-label-container {
        background-color: transparent;
    }
}

.outstanding-videos {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 0;
        margin: 0 19px 45px;
        border-bottom: 1px solid #EDEDED;
        &__title {
            font-family: 'Helvetica Neue', sans-serif;
            color: #A5ABB1;
            font-size: 1.125rem;
            font-weight: bold;
        }
        .modal-close-cta {
            color: #616161;
            font-style: italic;
            font-size: 0.750em;
            display: flex;
            align-items: center;
            cursor: pointer;
            .icon {
                font-size: 1.667em;
                font-style: normal;
                padding-left: 10px;
                &:before {
                    margin-right: 0;
                    font-size: 1em;
                }
            }
        }
    }
    .tab {
        &__content {
            padding: 21px 57px 72px 57px;
        }
        &__title {
            font-family: 'Helvetica Neue', sans-serif;
            color: #616161;
            font-size: 0.875rem;
            line-height: 1rem;
            margin-bottom: 25px;
        }
        &__outstanding {
            border: 1px solid #F5F7FB;
            padding: 27px 23px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 22px;
            &--header {
                flex-direction: column;
                border: 1px solid #F5F7FB;
                padding: 27px 23px 30px;
                margin-bottom: 22px;
                .tab__outstanding {
                    border: 0;
                    padding: 0;
                    margin-bottom: 0;
                }
            }
        }
        &__buttons {
            border-top: 1px solid #EDEDED;
            padding-top: 15px;
            display: flex;
            justify-content: center;
            margin-top: 17.5px;
            button {
                width: 134px;
                height: 35px;
                font-family: 'Helvetica Neue', sans-serif;
                font-weight: 600;
                color: #A5ABB1;
                background-color: transparent;
                margin: 10px;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                font-size: .875rem;
                &.confirm {
                    background-color: #0b86ff;
                    color: #fff;
                }

            }
        }
    }

    .outstanding {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        &--header {
            flex-direction: row;
            align-items: center;
            margin-bottom: 18px;
            .outstanding__frame {
                width: 202px;
                height: 103px;
                flex-shrink: 0;
            }
            .outstanding__lines {
                padding-left: 34px;
                width: 40%;
            }
        }
        &__layer {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
        }
        &__frame {
            border: 4px dashed #E5EBEF;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 63px;
        }
        &__text {
            color: #E1E8ED;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 0.750rem;
            font-weight: bold;
        }
        &__lines {
            padding-top: 14px;
            width: 85%;
        }
        &__line {
            border-style: solid;
            border-color: #BEC5D0;
            width: 95%;
            border-width: 1px;
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0;
            }
            &--thicker {
                border-color: #BEC5D0;
                width: 55%;
                border-width: 2px;
            }
            &--longer {
                width: 100%;
            }
        }
        &.active {
            .outstanding__frame {
                background-color: #F7F7F7;
            }
            .outstanding__text {
                color: #0b86ff;
                font-size: .875rem;
            }
            .outstanding__frame,
            .outstanding__line {
                border-color: #0b86ff;
            }
        }
    }
}

.highlight_title{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px rgba(165, 171, 177, 0.158);
    width: 90%;
    margin: auto;
    color: #BEC2C6;
    h1{
        font-size: 1.56em;
        font-weight: 500;
    }
    .modal-close-cta{
        align-items: center;
        display: flex;
        cursor: pointer;
        span{
            color: #666666;
            padding-left: 10px;
        }
    }
}

.highlight_text{
    padding: 20px;
    p{
        text-align: center;
        font-size: 1.2em;
        color: #7B7B7B;
        border-bottom: solid 2px rgba(165, 171, 177, 0.158);
        padding-bottom: 20px;
        width: 90%;
        margin: 0 auto;
        font-weight: 500;
    }
}

.highlight_content{
    text-align: center;
    font-size: 1.2em;
    color: #E5EBEF;
    border: solid 1px;
    padding: 15px;
    width: 55%;
    margin: auto auto 20px;
    text-transform: uppercase;
    font-weight: 500;

    .highlight_picture {
        padding: 20px;
        border: dashed 4px;
        margin: auto;
        cursor: pointer;
        font-size: 14px;
    }

    .hr_content{
        hr{
            margin: auto 0;
            margin-top: 12px;
            border-radius: 20px;
            border: solid 1px #C2CBD1;
        }
        .first-hr{
            width: 25%;
            border: solid 4px #C2CBD1;
        }
        .middle-hr{
            width: 80%;
        }
        .last-hr{
            width: 95%;
        }
    }

    .double-frame{
        display: flex;
        padding: 20px 0 0 0;
        justify-content: space-between;

        .box {
            width: 47%;
        }

    }
    .hr-frame{
        display: flex;
        .hr_content{
            width: 48%;
            &.hr-second{
                padding-left: 15px;
            }
        }
    }
}

.highlight_image{
    text-align: center;
    padding: 26px 35px;
    margin-top: 15px;
    background-color: #e7ecf4;
    button{
        font-size: 1.2em;
        border: none;
        background: none;
        color: #389bfd;
        cursor: pointer;
        .info{
            text-decoration: underline;
        }
        &:focus{
            outline: none;
        }
    }
    p{
        font-size: 0.75em;
        margin-top: 10px;
        color: #a6a9ad;
        font-weight: 500;
    }

    .list {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding: 0 30px;
        position: relative;
        width: 70%;

        img {
            height: auto;
            width: 80px;
        }

        p {
            margin-left: 20px;
        }
    }

    .del {
        border-radius: 10px;
        border: 1px solid #ff003b;
        color: #ff003b;
        cursor: pointer;
        height: 20px;
        position: absolute;
        width: 20px;
        background-color: #fff;
        font-size: 1.7em;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;

        &:before {
            position: absolute;
            top: 4.5px;
            left: 6.5px;
            font-size: 0.375em;
        }
    }

}

.highlight_btm{
    display: flex;
    justify-content: center;
    width: 86%;
    margin: auto;
    border-top: solid 2px rgba(165, 171, 177, 0.158);
    margin-top: 15px;
    padding: 25px 0;
    .mat-dialog-actions{
        margin-bottom: 0;
        .dialog_cancel{
            color: #a6a9ad;
        }
    }
}

.activeColor{
    border-color: #0080ff;
    color: #0080ff;

    .hr_content {
        hr {
            border-color: #0080ff;

            &.first-hr {
                border-color: #0080ff;
            }
        }
    }

}
