.outstanding-videos {
    .outstanding {
        width: 130px;
        height: 63px;
        border: 1px dashed #C2CBD1;
        cursor: pointer;
        &.active {
            border-color: #0b86ff;
        }
    }
}
