<div class="outstanding-videos">
    <div class="outstanding-videos__wrapper">
        <header class="header">
            <p class="header__title">Destacar contenido multimedia</p>
            <a (click)="closeDialog()" class="modal-close-cta">Cerrar <span
                class="icon icon-times"></span></a>
        </header>
    </div>
    <mat-tab-group (selectedTabChange)="setOutstandingHome($event)" class="tabs">
        <mat-tab label="Destacados Home" class="tab">
            <div class="tab__content">
                <p class="tab__title">Elija la ubicación donde quiere que este el video a destacar</p>
                <div class="highlight_content">
                    <div>
                        <p class="highlight_picture" (click)="onCheckSection('header')"
                           [ngClass]="{'activeColor': isActive('header')}">destacado principal</p>
                        <div class="hr_content">
                            <hr class="first-hr">
                            <hr class="middle-hr">
                            <hr class="last-hr">
                        </div>
                    </div>

                    <div class="double-frame">
                        <div class="box" (click)="onCheckSection('area1')" [ngClass]="{'activeColor': isActive('area1')}">
                            <p class="highlight_picture">cuadro 01</p>
                            <div class="hr_content hr-second">
                                <hr class="first-hr">
                                <hr class="middle-hr">
                                <hr class="last-hr">
                            </div>
                        </div>

                        <div class="box" (click)="onCheckSection('area2')" [ngClass]="{'activeColor': isActive('area2')}">
                            <p class="highlight_picture">cuadro 02</p>
                            <div class="hr_content hr-second">
                                <hr class="first-hr">
                                <hr class="middle-hr">
                                <hr class="last-hr">
                            </div>
                        </div>
                    </div>

                    <div class="double-frame">
                        <div class="box" (click)="onCheckSection('area3')" [ngClass]="{'activeColor': isActive('area3')}">
                            <p class="highlight_picture">cuadro 03</p>
                            <div class="hr_content hr-second">
                                <hr class="first-hr">
                                <hr class="middle-hr">
                                <hr class="last-hr">
                            </div>
                        </div>

                        <div class="box" (click)="onCheckSection('area4')" [ngClass]="{'activeColor': isActive('area4')}">
                            <p class="highlight_picture">cuadro 04</p>
                            <div class="hr_content hr-second">
                                <hr class="first-hr">
                                <hr class="middle-hr">
                                <hr class="last-hr">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="highlight_image" *ngIf="isActive('header')">
                    <div class="controls" *ngIf="!imageSelected">
                        <button (click)="openGallery()">
                            <span class="icon icon-plus-circle"></span>
                            <span class="info"> Agregar imagen al destacado</span>
                        </button>
                        <p>Tamaño máximo de imagen 1MB</p>
                    </div>
                    <div class="list" *ngIf="imageSelected">
                        <img [src]="getReportImage()">
                        <p>{{file ? file?.fileName : photo}}</p>
                        <button class="del icon icon-times" (click)="onRemoveImage()"></button>
                    </div>
                </div>
                <ng-select [items]="multimediaList"
                           placeholder="-Seleccione Contenido multimedia a destacar-"
                           bindValue="id"
                           bindLabel="title" class="custom-select"
                           (change)="selectOutstanding($event)"
                           [(ngModel)]="multimedia"
                ></ng-select>
                <div class="tab__buttons">
                    <button class="" (click)="closeDialog()">Cancelar</button>
                    <button class="confirm" (click)="onSave()" [disabled]="sectionSelect === 'header' && !photo && !file">Aceptar</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Home Multimedia" class="tab">
            <div class="tab__content">
                <p class="tab__title">Elija la ubicación donde quiere que este el video a destacar</p>
                <article class="tab__outstanding">
                    <article class="outstanding"
                             *ngFor="let area of outstandingAreaList"
                             (click)="setOutstandingArea($event,'area'+area)">
                        <div class="outstanding__layer"></div>
                        <section class="outstanding__frame">
                            <p class="outstanding__text">Video {{area}}</p>
                        </section>
                        <section class="outstanding__lines">
                            <div class="outstanding__line outstanding__line--thicker"></div>
                            <div class="outstanding__line"></div>
                            <div class="outstanding__line outstanding__line--longer"></div>
                        </section>
                    </article>
                </article>
                <ng-select [items]="multimediaList"
                           placeholder="-Seleccione Contenido multimedia a destacar-"
                           bindValue="id"
                           bindLabel="title" class="custom-select"
                           (change)="selectOutstanding($event)"
                           [(ngModel)]="multimedia"
                ></ng-select>
                <div class="tab__buttons">
                    <button class="" (click)="closeDialog()">Cancelar</button>
                    <button class="confirm" (click)="onSave()">Aceptar</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Multimedia" class="tab">
            <div class="tab__content">
                <p class="tab__title">Elija la ubicación donde quiere que este el video a destacar</p>
                <article class="tab__outstanding--header">
                    <header>
                        <article class="outstanding outstanding--header" (click)="setOutstandingArea($event, 'header')">
                            <div class="outstanding__layer"></div>
                            <section class="outstanding__frame">
                                <p class="outstanding__text">Video 1</p>
                            </section>
                            <section class="outstanding__lines">
                                <div class="outstanding__line outstanding__line--thicker"></div>
                                <div class="outstanding__line"></div>
                                <div class="outstanding__line outstanding__line--longer"></div>
                            </section>
                        </article>
                    </header>
                    <section class="tab__outstanding">
                        <article class="outstanding"
                                 *ngFor="let area of outstandingAreaList"
                                 (click)="setOutstandingArea($event,'area'+area)">
                            <div class="outstanding__layer"></div>
                            <section class="outstanding__frame">
                                <p class="outstanding__text">Video {{area + 1}}</p>
                            </section>
                            <section class="outstanding__lines">
                                <div class="outstanding__line outstanding__line--thicker"></div>
                                <div class="outstanding__line"></div>
                                <div class="outstanding__line outstanding__line--longer"></div>
                            </section>
                        </article>
                    </section>
                </article>

                <ng-select [items]="multimediaList"
                           placeholder="-Seleccione Contenido multimedia a destacar-"
                           bindValue="id"
                           bindLabel="title" class="custom-select"
                           (change)="selectOutstanding($event)"
                           [(ngModel)]="multimediaNoHome"
                ></ng-select>
                <div class="tab__buttons">
                    <button class="" (click)="closeDialog()">Cancelar</button>
                    <button class="confirm" (click)="onSave()">Aceptar</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
