
iframe {
    width: 100%;
    height: 1200px;
    overflow-x: hidden;
}

.preview-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 10px 10px -7px #e8e8e8;
    position: relative;
    &__back {
        display: flex;
        align-items: center;
        color: #616161;
        p {
            font-size: 0.875em;
            font-weight: bold;
        }
    }

    &__comment {
     text-align: center;   
     color: #616161;
     p {
        font-size: 0.875em;
     }
     span {
         font-size: 30px;
     }
    }

    &__post {
        button {
            background-color: #0080FF;
            color: #ffffff;
        }
    }
}