
iframe {
    width: 100%;
    height: 1200px;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}

.mobile_detail-container {
    @media (max-width: 991px) and (orientation: landscape) {
        width: 100%;
        overflow-y: hidden;
    }
}

.preview-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0px 10px 10px -7px #e8e8e8;
    position: relative;
    justify-content: space-between;
    @media only screen and (max-width: 480px) {
        position: fixed;
        width: 100%;
        z-index: 9;
    }
    &__back {
        display: flex;
        align-items: center;
        color: #616161;
        width: auto;
        @media only screen and (max-width: 330px) {
            max-width: 45%;
        }
        p {
            font-size: 0.875em;
            font-weight: bold;
            margin-bottom: 0;
            @media only screen and (max-width: 400px) {
                font-size: 0.75em;
            }
        }
    }

    .comment_icons {
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 400px) {
            width: 45%;
        }
        .notification_alert {
            top: -4px;
            width: 15px;
            height: 15px;
            font-size: 11px;
            line-height: 18px;
            border: 2px solid #ffffff;
            background-color: #FF003B;
            color: #ffffff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            &.toggle_alert {
                top: auto;
                width: 21px;
                height: 21px;
                margin-left: 10px;
                margin-top: -10px;
                line-height: 16px;
            }
         }
         .toggle_buttons {
            border: solid 1px #0080ff;
            color: #0080ff;
            background-color: #f8fcff;
            border-radius: 100%;
            padding: 10px;
            display: flex;
            &.active {
                background-color: #0080ff;
                color: #ffffff;
            }
         }
    }

    &__comment {
     text-align: center;   
     color: #616161;
     position: relative;
     top: 10px;
     p {
        font-size: 0.875em;
        margin-top: 5px;
        font-weight: bold;
        @media only screen and (max-width: 400px) {
            font-size: 0.75em;
        }
     }
     i {
         font-size: 23px;
         color: #0080FF;
         cursor: pointer;
     }
     &.reply {
        color: #0080FF;
     }
    }

    &__post {
        margin: 0 15px;
        button {
            background-color: #0080FF;
            color: #ffffff;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        width: auto;
        @media only screen and (max-width: 600px) {
            margin: 10px 0;
        }
        @media only screen and (min-width: 1024px) {
            margin: 0 10px;
            padding-top: 5px;
        }
    }

    .coment_toggle {
        position: absolute;
        margin-left: -6em;
        width: auto;
        z-index: 9;
        margin-top: 55%;
        @media only screen and (min-width: 1024px) {
            margin-left: 7%;
            margin-top: 0;
        }
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-right: 20px solid transparent;
            border-top: 0px solid transparent;
            border-left: 20px solid transparent;
            border-bottom: 20px solid #ffffff;
            margin-left: 40%;
            position: relative;
            top: -17px;
        }
        &::after {
            content: '';
            width: 1000vw;
            height: 1000vw;
            max-height: 80em;
            position: absolute;
            background: #a5abb18a;
            z-index: -9;
            left: -100%;
            top: 0;
            @media only screen and (min-width: 1024px) {
                left: -250%;
                max-height: 85em;
            }
        }
        div {
            display: flex;
            align-items: center;
            justify-content: start;
            background-color: #ffffff;
            padding: 15px;
            border: solid 1px #EAEDF2;
            cursor: pointer;
            &:first-child {
                border-bottom: solid 1px #EAEDF2;
            }
            i {
                height: 23px;
                margin-right: 12px;
                font-size: 23px;
                color: #0080FF;
            }
        }
    }

    .buttons_section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-top: solid 1px #d8d5d5;
        margin-top: 5px;
        padding-top: 5px;
        .preview-mobile__buttons {
            button {
                background-color: transparent;
                color: #616161;
                border-radius: 10px;
                font-size: 0.75em;
                &.btn-yellow {
                    border: solid 1px #f9e333;
                }
                &.btn-cyan {
                    border: solid 1px #00fff5;
                }
                &.btn-green {
                    border: solid 1px #19d600;
                }
            }
        }
    }
}

.preview_html {
    padding-top: 7em;
}