<div class="preview-mobile">
    <div class="preview-mobile__back">
        <span class="material-icons">arrow_back_ios</span>
        <p>Por revisar</p>
    </div>

    <div class="preview-mobile__comment">
        <span class="material-icons-outlined">mode_comment</span>
        <p>Comentarios</p>
    </div>

    <div class="preview-mobile__post">
        <button mat-flat-button class="bttn bttn-primary">Publicar</button>
    </div>
</div>

<iframe id="previewFrame" src="about:blank"></iframe>
