
iframe {
    width: 100%;
    height: 1200px;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}

.preview-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 10px 10px -7px #e8e8e8;
    position: relative;
    &__back {
        display: flex;
        align-items: center;
        color: #616161;
        width: auto;
        p {
            font-size: 0.875em;
            font-weight: bold;
        }
    }

    .comment_icons {
        width: 38%;
        @media only screen and (max-width: 400px) {
            width: 52%;
        }
        .notification_alert {
            top: -4px;
            width: 15px;
            height: 15px;
            font-size: 11px;
            line-height: 18px;
            border: 2px solid #ffffff;
            background-color: #FF003B;
            color: #ffffff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            &.toggle_alert {
                top: auto;
                width: 18px;
                height: 18px;
                margin-left: 10px;
                margin-top: -16px;
            }
         }
    }

    &__comment {
     text-align: center;   
     color: #616161;
     position: relative;
     p {
        font-size: 0.875em;
        margin-top: 5px;
        font-weight: bold;
     }
     i {
         font-size: 23px;
         color: #0080FF;
         cursor: pointer;
     }
     &.reply {
        color: #0080FF;
     }
    }

    &__post {
        margin: 0 2%;
        button {
            background-color: #0080FF;
            color: #ffffff;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        width: auto;
        @media only screen and (max-width: 600px) {
            margin: 10px 2%;
        }
        @media only screen and (min-width: 1024px) {
            margin: 5%;
        }
    }

    .coment_toggle {
        position: absolute;
        margin-left: -3em;
        margin-top: 5%;
        width: auto;
        z-index: 9;
        margin-top: 2%;
        @media only screen and (min-width: 1024px) {
            margin-left: 6%;
        }
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-right: 20px solid transparent;
            border-top: 0px solid transparent;
            border-left: 20px solid transparent;
            border-bottom: 20px solid #ffffff;
            margin-left: 40%;
            position: relative;
            top: -20px;
        }
        &::after {
            content: '';
            width: 1000vw;
            height: 1000vw;
            max-height: 80em;
            position: absolute;
            background: #a5abb1b8;
            z-index: -9;
            left: -100%;
            top: 0;
            @media only screen and (min-width: 1024px) {
                left: -250%;
                max-height: 85em;
            }
        }
        div {
            display: flex;
            align-items: center;
            justify-content: start;
            background-color: #ffffff;
            padding: 15px;
            border: solid 1px #EAEDF2;
            cursor: pointer;
            &:first-child {
                border-bottom: solid 1px #EAEDF2;
            }
            i {
                height: 23px;
                margin-right: 12px;
                font-size: 23px;
                color: #0080FF;
            }
        }
    }
}