 .content-bar {
	width: 100%;
}

.options {
	background: #FFFFFF;
	border: solid 1px #E7EAF1;
	border-bottom: none;
	font-size: 1em;

	&--name {
		color: #616161;
		font-weight: bold;
		height: 60px;
		line-height: 60px;
		padding-left: 6%;
		text-align: left;

		// &:after {
		// 	content: '';
		// }
		&.variation {
			background: #F2F2F2;
		}
	}

	&--list {
		box-sizing: border-box;
		padding: 20px 10% 20px 7%;
		border-top: solid 1px #E7EAF1;

		li {
			border-bottom: 1px solid #E7EAF1;
			padding: 20px 0;
			position: relative;

			a {
				color: #616161;
				font-size: 0.875em;
				padding-left: 22px;
				text-decoration: none;
			}
			
			&:before {
				content: "";
				height: 50%;
				width: 2px;
				position: absolute;
				top: 0;
				left: 4px;
				bottom: 0;
				margin: auto;
			}

			&.cian {
				&:before {
					background: #00FFF5;
				}
			}

			&.green {
				&:before {
					background: #19D600;
				}
			}

			&.red {
				&:before {
					background: #FF003B;
				}
			}

			&.yellow {
				&:before {
					background: #F9E333;
				}
			}

			&.gray {
				&:before {
					background: #D9D9D9;
				}
			}

			.cnt {
				background: #F5F7FB;
				bottom: 0;
				border-radius: 20px;
				color: #616161;
				font-size: 0.875em;
				height: 28px;
				line-height: 28px;
				margin: auto 0;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: 35px;
			}


		}	
	}

}

.mat-raised-button {
	background: #0080FF;
	box-shadow: none;
	color: #FFFFFF;
	width: 100%;

	.mat-button-wrapper {
		font-size: 0.875em;
	}
}