<div class="content-bar">
	<div class="options">
		<p class="options--name icon icon-copy">Mis informes</p>
		<ul class="options--list">
			<li class="green"><a href="#">Publicados</a><span class="cnt">1</span></li>
			<li class="cian"><a href="#">Aprobados sin publicar</a><span class="cnt">10</span></li>
			<li class="red"><a href="#">Revisado con ajustes</a><span class="cnt">5</span></li>
			<li class="yellow"><a href="#">En revisión</a><span class="cnt">8</span></li>
			<li class="gray"><a href="#">Borradores</a><span class="cnt">99</span></li>
		</ul>
	</div>
	<div class="options">
		<p class="options--name icon icon-folder variation">Mis carpetas</p>
		<ul class="options--list">
			<li><a href="#">Carpeta Colaborativa</a><span class="cnt">1</span></li>
			<li><a href="#">Carpeta 01</a><span class="cnt">10</span></li>
			<li><a href="#">Carpeta 02</a><span class="cnt">5</span></li>
			<li><a href="#">Carpeta 03</a><span class="cnt">8</span></li>
			<li><button class="icon icon-cog" mat-raised-button (click)="openDialog()">Editar y crear Carpetas</button></li>
		</ul>
	</div>
	<div class="options">
		<p class="options--name icon icon-file-upload variation">Multimedia</p>
	</div>
	<div class="options">
		<p class="options--name icon icon-trash-alt variation">Eliminados</p>
	</div>	
</div>
