<div class="content-bar">
    <div class="options">
        <p class="options--name icon icon-copy">Mis informes</p>
        <ul class="options--list">
            <li *ngFor="let state of list.states" [className]="state.color" [ngClass]="{active: isItemActive(state.id)}">
                <a (click)="setCurrentState(state.id)">{{state.name}}</a>
                <span class="cnt">{{state.count ? state.count : 0}}</span>
            </li>
        </ul>
    </div>
    <div class="options">
        <p class="options--name icon icon-folder variation">Mis carpetas</p>
        <ul class="options--list options-folder">
            <li *ngFor="let folder of list.folders" [ngClass]="{active: isFolderActive(folder.id)}">
                <a (click)="setCurrentFolder(folder.id)">{{folder.name}}</a>
                <span class="cnt">0</span></li>
            <li class="edit-btn-item">
                <button class="icon icon-cog" mat-raised-button (click)="openDialog()">Editar y crear carpetas</button>
            </li>
        </ul>
    </div>
    <div class="options">
        <p class="options--name icon icon-file-upload variation">Multimedia</p>
    </div>
    <div class="options delete-section-btn">
        <p class="options--name icon icon-trash-alt variation" [ngClass]="{active: isDeleteActive()}"
           (click)="setDeletedState()">Eliminados</p>
    </div>
</div>
