 .content-bar {
	width: 100%;

	a, p {
		font-weight: 400;
	}
     .icon, .fas {
         &:before {
             margin-right: 13px;
         }
     }
     .options--name {
		 font-weight: 600;
		 &.active{
			 color: #0080ff;
		 }
     }
}

 li.edit-btn-item {
     padding-bottom: 0px !important;
	 padding-top: 10px !important;
	 @media only screen and (max-width: 768px) {
        display: none;
    }

     button  {
		 border-radius: 0px;
		 padding: 3px;
     }
 }

 .delete-section-btn {
    cursor: pointer;
    .active {
        color: #0080ff;
        font-weight: 600;

        &:before {
            color: #0080ff;
        }
    }
 }

 .options-folder {
     padding-bottom: 10px !important;

     li.active {
         border-bottom: 1px solid #E7EAF1;
         padding: 20px 0;
         position: relative;
         margin-left: 20px;

         a {
             color: #0080ff;
             font-weight: 500;
         }

         &:before {
             background: #0080ff;
             content: "";
             height: 50%;
             width: 2px;
             position: absolute;
             top: 0;
             left: 4px;
             bottom: 0;
             margin: auto;
         }

         .cnt  {
             color: #0080ff;
             font-weight: 500;
         }
     }
     &.marketing {
         padding-bottom: 0 !important;
         li:last-child {
             border-bottom: 0;
         }
     }
 }

.options {
	background: #FFFFFF;
	border: solid 1px #E7EAF1;
	border-bottom: none;
	font-size: 1em;
	@media only screen and (max-width: 768px) {
        background: none;
    }

	&--name {
		color: #616161;
		font-weight: 600;
		height: 60px;
		line-height: 60px;
		padding-left: 6%;
		text-align: left;
        display: flex;
		align-items: center;
		cursor: pointer;
        &:before  {
            color: #bec5d0;
        }

		// &:after {
		// 	content: '';
		// }
		&.variation {
			background: #F2F2F2;
		}
        &.fas {
            &:before {
                margin-right: 7px;
                font-size: 1.25em;
            }
        }
	}

	&--list {
		box-sizing: border-box;
		padding: 20px 10% 20px 7%;
        padding-top: 0px;
        padding-bottom: 0px;
		border-top: solid 1px #E7EAF1;

		li {
			border-bottom: 1px solid #E7EAF1;
			padding: 20px 0;
			position: relative;
			cursor: pointer;

			a {
				color: #616161;
				font-size: 0.875em;
				padding-left: 22px;
				text-decoration: none;
                cursor: pointer;
			}

			&:before {
				content: "";
				height: 50%;
				width: 2px;
				position: absolute;
				top: 0;
				left: 4px;
				bottom: 0;
				margin: auto;
			}

			&.cian {
				&:before {
					background: #00FFF5;
				}
			}

            &.cian.active {
                a {
                    color: #00FFF5;
                    font-weight: 500;
                }
            }

			&.green {
				&:before {
					background: #19D600;
				}
			}

            &.green.active {
                a {
                    color: #19D600;
                    font-weight: 500;
                }
            }

			&.red {
				&:before {
					background: #FF003B;
				}
			}

            &.red.active {
                a {
                    color: #FF003B;
                    font-weight: 500;
                }
            }

			&.yellow {
				&:before {
					background: #F9E333;
				}
			}

            &.yellow.active {
                a {
                    color: #F9E333;
                    font-weight: 500;
                }
            }

			&.gray {
				&:before {
					background: #D9D9D9;
				}
			}

            &.gray.active {
                a {
                    color: #D9D9D9;
                    font-weight: 500;
                }
            }

			.cnt {
				background: #F5F7FB;
				bottom: 0;
				border-radius: 20px;
				color: #616161;
				font-size: 0.875em;
				height: 28px;
				line-height: 28px;
				margin: auto 0;
				position: absolute;
				right: 0px;
				text-align: center;
				top: 0;
				width: 35px;
			}
		}
	}
    &:last-child {
        border-bottom: solid 1px #E7EAF1;
    }
}

.mat-raised-button {
	background: #0080FF;
	box-shadow: none;
	color: #FFFFFF;
	width: 100%;

	.mat-button-wrapper {
		font-size: 0.875em;
	}
}

.cog_icon{
	position: relative;
	top: 3px;
}

/* .bar_name.active{
	color: #0080ff;
} */

.side_search{
    display: none;
}
.questions_mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .sidenav {
        height: 100%;
        width: 0;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f5f7fb;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 9;

        .side_search {
            background-color: #ffffff;
            padding: 20px;
            display: block;
            &.search_input {
                background-position: 94% 50%;
            }
            input {
                width: 100%;
                line-height: 11px;
                padding: 5px 5px;
                font-style: italic;
                color: #757575;
                font-size: 14px;
                font-weight: 200;
                border: none;
                border-bottom: 1px solid #bec5d0;
                font-family: "Helvetica Neue", sans-serif;
                background-color: transparent;
            }
        }

        .sidenav_content {
            padding: 20px;
            .options {
                &--folder_menu {
                    display: flex;
                    justify-content: space-between;
                    .options--name {
                        font-size: 1em;
                        font-weight: bold;
                    }
                }
            }
        }

        .last_option {
            display: none !important;
        }

        .folder_name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 11% 0px 3%;
            span {
                display: block;
            }
            p{
                background: none;
            }
        }

        .questions_mobile {
            display: flex;
            padding: 20px 0px;
            padding-left: 40px;
            align-items: center;
            span {
                color: #bec5d0;
            }
            p {
                font-weight: bold;
                color: #616161;
                padding-left: 15px;
            }
        }
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
}