app-mobile-comment-view {
    width: 100%;
    height: 1200px;

    .mat-card-header-text {
        margin: 0px 36px !important;
    }

    app-comment-box section .mat-card .mat-card-header .mat-card-title {
        padding-top: 9px !important;
        margin-bottom: 10px !important;
    }

    .comment-close {
        top: 12px !important;
        margin-top: 0px !important;
        right: 5px !important;
    }

    iframe {
        width: 100%;
        height: 1200px;
        overflow-x: hidden;
    }
    
    .preview-mobile {
        justify-content: space-around;
        padding: 26px 0;
        background-color: #fff;
        box-shadow: 0px 10px 10px -7px #e8e8e8;
        position: relative;
        padding-left: 15px;
        &__back {
            display: flex;
            align-items: center;
            color: #616161;
            p {
                font-size: 0.875em;
                font-weight: bold;
            }
            span {
                font-weight: bold;
                margin-right: 10px;
                font-size: 27px;
                color: #A0A0A0;
            }
        }
    
        &__comment {
         text-align: center;   
         color: #616161;
         p {
            font-size: 0.875em;
         }
         span {
             font-size: 30px;
         }
        }
    
        &__post {
            button {
                background-color: #0080FF;
                color: #ffffff;
            }
        }
    }
}