.grapes-container {
    background-color: #f5f7fb;

    .builder {
        padding: 5vh 5vw !important;

        #gjs {
            border: 1px solid #eee;
            border-radius: 5px !important;

            .gjs-cv-canvas {
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px !important;

                .gjs-editor {
                    border-radius: 10px !important;
                }
            }
        }
    }

    .builder-panel {
        & > header {
            padding: 0;
            width: 100%;
            display: flex;
            position: initial;
            justify-content: center;
            justify-content: space-between;
        }

        & > .content {
            padding: 0;
            width: 100%;
            flex-basis: 230px;
            position: relative;

            .gjs-block {
                width: auto;
                height: auto;
                min-height: auto;
            }

            h6 {
                margin: 0;
                color: #0080ff;
                padding: 1.2vh 0 1.5vh;
                background-color: #e3f1ff;
                font-weight: bold;
            }
        }
    }
}
/* element buttons */
.gjs-one-bg {
    background-color: white;
}

.gjs-two-color {
    color: black;
}
