@import '../../../../assets/sass/_mixins';
$builder-bg: #f5f7fb;

.float-right { float: right; }
.float-left { float: left; }
.btn-white {
    color: #a5abb1;
    box-shadow: none;
    background-color: white;
}

.btn-primary {
    color: white;
    box-shadow: none;
    background-color: #0080ff;
}

.grapes-container {

    .mat-toolbar-row {
        padding: 0 !important;
        border-bottom: solid 1px #EDEDED;

        section {
            margin: auto;
            width: 88% !important;
        }
    }

    .mat-toolbar-row:nth-child(1) {
        background-color: $builder-bg;

        h6 {
            color: #616161;
            display: inline;
            vertical-align: sub;
            font-size: 1.1rem;
        }

        small {
            float: right;
            color: #acb1b7;
            margin-top: 4px;
            margin-right: 10px;
            font-size: 0.7rem;
            font-weight: normal;
        }

        button {
            float: right;
            padding-top: 2px;
            margin-left: 10px;
            font-weight: normal;

            span.icon {
                margin: 0px -5px;
                vertical-align: text-bottom;
            }
        }
    }

    .mat-toolbar-row:nth-child(2) {
        color: #616161;
        background-color: white;

        form {
            display: inline-block;
            margin-right: 15px;

            .input-field {
                width: 20vw;

                input {
                    height: 2rem !important;
                }

                label {
                    top: unset;
                    bottom: 15px;
                }

                label.active { top: 0px !important; }
            }
        }

        button:focus { background-color: transparent; }

        button {
            margin-left: 10px;
            display: inline-block;
            font-weight: normal;
            padding: 0 10px;

            span.icon {
                color: #bec5d0;
                margin: 0px -5px;
                vertical-align: sub;
            }
        }

        .divider {
            height: 40px;
            margin: 0 26px 0 15px;
            display: inline-block;
            vertical-align: middle;
            border-left: solid 1px #d7dbe2;
        }

        span {
            font-size: 14px;
            font-weight: normal;
        }
    }

    .config-container ul {
        margin: 0;
        box-shadow: none;
    }
}