<section class="grapes-container">
	<mat-toolbar>
		<mat-toolbar-row>
			<section>
				<h6>Informe de negocio</h6>

		        <button mat-stroked-button class="btn-white">
		        	<span class="icon icon-trash-alt"></span>Descartar
		        </button>
		        <button mat-stroked-button class="btn-white">
		        	<span class="icon icon-search-plus"></span>Vista previa
		        </button>
		        <button mat-stroked-button class="btn-white">
		        	<span class="icon icon-clipboard-check"></span>Enviar a revisión
		        </button>
		        <button mat-flat-button class="btn-primary">
		        	<span class="icon icon-save"></span>Guardar
		        </button>
				<small><em>Autoguardado hace 10 min</em></small>
			</section>
		</mat-toolbar-row>

		<mat-toolbar-row>
			<section>
				<span class="input-label">Nombre informe:   </span>
	          	<form class="">
	          		<div class="input-field">
		          		<input id="reportName" type="text" placeholder="Escriba aquí">
					    <!-- <label for="reportName">Nombre informe</label> -->
	          		</div>
				</form>
				<button mat-button>
					<span class="icon icon-edit"></span>Editar nombre
				</button>
				<button mat-button>
					<span class="icon icon-save"></span>Guardar nombre
				</button>
				<div class="divider"></div>
				<span>Editado por Andres V...</span>
			</section>
		</mat-toolbar-row>
	</mat-toolbar>

	<mat-grid-list cols="4" id="row-m">

		<mat-grid-tile [colspan]="3" [rowspan]="1" class="builder">
			<div id="gjs">
				<h1>Hello World Component!</h1>
			</div>
		</mat-grid-tile>

		<mat-grid-tile [colspan]="1" [rowspan]="1" class="builder-tabs" style="overflow: visible;">

			<div class="row">
			    <div class="col s12">
			      	<ul class="tabs">
				        <li class="tab col s4">
				        	<a href="#blocks-tab" class="active"><i class="material-icons">extension</i></a>
				        </li>
				        <li class="tab col s4">
				        	<a href="#styles-tab"><span class="icon icon-paint-brush"></span></a>
				        </li>
				        <li class="tab col s4">
				        	<a href="#config-tab"><span class="icon icon-cog"></span></a>
				        </li>
			      	</ul>
			    </div>

			    <div id="blocks-tab" class="col s12">
			    	<h6>Elementos</h6>
			    	<div class="blocks-container"></div>
			    </div>
			    <div id="styles-tab" class="col s12">
			    	<h6>Estilos</h6>
			    	<div class="styles-container"></div>
			    </div>
			    <div id="config-tab" class="col s12">
			    	<h6>Configuración informe</h6>
			    	<div class="config-container">
		    		  	<ul class="collapsible accordian-panel-bar">
						    <li>
					      		<div class="collapsible-header"><i class="fa fa-tags" aria-hidden="true"></i>Tags Categorías <i class="fa fa-chevron-down accordian-arrow" aria-hidden="true"></i></div>
						      	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
						    </li>
						    <li>
						      	<div class="collapsible-header"><i class="fa fa-pie-chart" aria-hidden="true"></i>Seo <i class="fa fa-chevron-down accordian-arrow" aria-hidden="true"></i></div>
						      	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
						    </li>
						    <li>
						      	<div class="collapsible-header"><i class="fa fa-clipboard" aria-hidden="true"></i>Informes relacionados <i class="fa fa-chevron-down accordian-arrow" aria-hidden="true"></i></div>
						      	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
						    </li>
						    <li>
						      	<div class="collapsible-header"><i class="fa fa-folder-open" aria-hidden="true"></i>Glosario <i class="fa fa-chevron-down accordian-arrow" aria-hidden="true"></i></div>
						      	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
						    </li>
					  	</ul>
			    	</div>
			    </div>
			</div>

		</mat-grid-tile>
	</mat-grid-list>

</section>