@import "../../../../assets/sass/_mixins";
@import '../../../../assets/fonts/fonts';
$builder-bg: #f5f7fb;
$default-font: "Helvetica Neue", Medium;

.grapes-container {

    #toolbar {
        font-size: 12px !important;
        font-weight: normal !important;

        .mat-toolbar-row {
            padding: 0;
            height: 60px;
            border-bottom: solid 1px #EDEDED;

            section {
                padding-top: 2px !important;
                margin: auto;
                width: 88% !important;
            }
        }

        #export {
            // background-color: $builder-bg;
            background-color: #FAFCFE;

            h6 {
                color: #616161;
                display: inline;
                vertical-align: sub;
                font-size: 16px;
            }

            small {
                float: right;
                color: #A5ABB1;
                margin-top: 4px;
                margin-right: 10px;
                font-size: 10px;
                font-style: italic;
                font-weight: normal;
            }

            button {
                height: 35px;
                float: right;
                font-size: 12px;
                margin-left: 10px;
                font-weight: normal;

                span.icon {
                    vertical-align: text-bottom;
                }

                .icon::before {
                    font-size: 15px;
                    margin-right: 5px;
                }

                span {
                    vertical-align: text-bottom !important;
                }
                &.guardar-cta{
                    width: 103px;
                    .icon::before {
                        margin-right: 7px;
                    }
                }
                &.revision-cta{
                    padding: 0 13px;
                }
                &.previa-cta{
                    padding: 0 9.5px;
                }
                &.descartar-cta{
                    padding: 0 15.5px;
                }
               
            }
        }

        #actions {
            color: #616161;
            background-color: white;

            .form-name {
                padding-top: 2px;
                margin-right: 20px;
                display: inline-block;

                label {
                    color: #A5ABB1;
                    font-size: 14px;
                    margin-right: 15px;
                    display: inline-block;
                }

                .input-field {
                    width: 24vw;
                    display: inline-block;

                    input {
                        width: 100%;
                        color: #616161;
                        padding: 0 5px;
                        font-size: 12px;
                        margin-bottom: 0;
                        height: 2rem !important;
                        border: 1px solid #C2CBD1;

                        &:focus {
                            box-shadow: none;
                            border-color: #0080FF;
                        }
                    }
                }
            }

            button:focus {
                background-color: transparent;
            }

            button {
                padding: 0 10px;
                margin-left: 10px;
                font-weight: normal;
                display: inline-block;
                font-size: 12px;
                font-weight: 500;

                span.icon {
                    color: #bec5d0;
                    margin: 0 -5px;
                    vertical-align: sub;
                }

                .icon::before {
                    font-size: 16px;
                }
            }

            .divider {
                height: 33px;
                margin: 0 20px 0 14px;
                display: inline-block;
                vertical-align: middle;
                border-left: solid 2px #BEC5D0;
            }
            .person-name{
                i{
                    margin-left: 10px;
                    color: #0080FF;
                    cursor: pointer;
                }
            }
        }
    }

    #grapesBox {
        @import '../../../../../node_modules/materialize-css/sass/materialize.scss';

        min-height: calc(100vh - (128px + 9vh));
        padding: 0 !important;

        .builder {
            height: 100%;
            background-color: $builder-bg;
            padding: 0 !important;

            iframe {
                color: red;
            }
        }

        .builder-tabs {
            height: 100%;
            overflow: visible;
            padding: 0 !important;

            .row {
                margin: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                border-right: solid 1px #F0EFEF;
                border-left: solid 1px #EAEAEA;

                .s12 {
                    padding: 0;
                }

                h6 {
                    margin: 0;
                    height: 52px;
                    padding: 18px;
                    color: #0080ff;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: left;
                    background-color: #e3f1ff;
                }

                .tabs {
                    height: 52px;

                    & > li {
                        height: 100%;

                        a:focus {
                            background-color: transparent;
                        }

                        a {
                            color: #0080ff;

                            i {
                                font-size: 22px;
                                vertical-align: middle;
                            }

                            span::before {
                                font-size: 20px;
                                vertical-align: middle;
                            }
                        }
                    }

                    .icon::before {
                        margin-right: 0;
                    }
                }
            }

            #config-tab {
                .config-container {

                    & > .mat-expansion-panel-spacing {
                        margin: 0 !important;
                    }

                    & > .mat-expansion-panel {
                        box-shadow: none;
                        border-bottom: solid 1px #EDEDED;
                        border-radius: unset;

                        & > .mat-expansion-panel-header {
                            height: 50  px !important;
                            padding: 0px 18px;

                            .mat-expansion-panel-header-title {

                                span:nth-child(1)::before {
                                    font-size: 14px;
                                    margin-right: 10px;
                                    color: #616161;
                                }

                                span:nth-child(2) {
                                    margin-top: 3px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    font-family: "Helvetica";
                                    color: #616161;
                                }
                            }

                            .mat-expansion-indicator {
                                padding-bottom: 2px !important;
                            }

                        }
                    }

                    .collapsible-header {
                        font-size: 12px;
                        font-weight: bold;
                        color: #616161;

                        i {
                            margin-right: 0.5rem;
                            color: #616161;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

    .btn-white {
        color: #a5abb1;
        box-shadow: none;
        background-color: white;
    }

    .btn-primary {
        color: white;
        box-shadow: none;
        background-color: #0080ff;
    }
}
