@import "../../../../assets/sass/_mixins";
$builder-bg: #f5f7fb;

.grapes-container {
    #toolbar {
        #export {
            &.mat-toolbar-row {
                button {
                    float: right;
                    padding-top: 2px;
                    margin-left: 10px;
                    font-weight: normal;

                    span.icon {
                        margin: 0 -5px;
                        vertical-align: text-bottom;
                    }
                }

                small {
                    float: right;
                    color: #acb1b7;
                    margin-top: 4px;
                    margin-right: 10px;
                    font-size: 0.7rem;
                    font-weight: normal;
                }
            }
        }

        #actions {
            &.mat-toolbar-row {
                color: #616161;
                background-color: white;

                & > figure {
                    background-color: $builder-bg;
                    padding-right: 5vw;

                    & > .mat-tab-group {
                        background-color: white;
                    }
                }

                .input-label {
                    color: #A5ABB1;
                }

                form {
                    display: inline-block;
                    margin-right: 15px;
                    margin-left: 10px;

                    .input-field {
                        width: 20vw;

                        input {
                            height: 2rem !important;
                            border: 1px solid #C2CBD1;
                            margin-bottom: 0;
                            padding: 0 5px;
                            font-size: 14px;
                            color: #616161;
                            width: 100%;

                            &:focus {
                                border-color: #0080FF;
                                box-shadow: none;
                            }
                        }

                        label {
                            top: unset;
                            bottom: 15px;
                        }

                        label.active {
                            top: 0 !important;
                        }
                    }
                }

                button:focus {
                    background-color: transparent;
                }

                button {
                    margin-left: 10px;
                    display: inline-block;
                    font-weight: normal;
                    padding: 0 10px;

                    span.icon {
                        color: #bec5d0;
                        margin: 0 -5px;
                        vertical-align: sub;
                    }
                }

                .divider {
                    height: 40px;
                    margin: 0 26px 0 15px;
                    display: inline-block;
                    vertical-align: middle;
                    border-left: solid 1px #d7dbe2;
                }

                span {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

        .mat-toolbar-row {
            padding: 0;
            border-bottom: solid 1px #EDEDED;
        }

        section {
            margin: auto;
            width: 88% !important;

            h6 {
                color: #616161;
                display: inline;
                vertical-align: sub;
                font-size: 1.1rem;
            }
        }
    }

    #grapesBox {
        @import '../../../../../node_modules/materialize-css/sass/materialize.scss';
        min-height: calc(100vh - (146px + 9vh));
        padding: 0 !important;

        .builder {
            height: 100%;
            background-color: $builder-bg;
            padding: 0 !important;
        }

        .builder-tabs {
            height: 100%;
            padding: 0 !important;

            #config-tab {
                .config-container {
                    ul {
                        margin: 0;
                        color: #616161;
                        box-shadow: none;
                    }

                    .collapsible-header {
                        font-size: 12px;
                        font-weight: bold;
                        color: #616161;

                        i {
                            margin-right: 0.5rem;
                            color: #616161;
                            font-size: 1.1rem;
                        }
                    }
                }

                .accordian-arrow {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    transform: rotate(180deg);
                    margin-left: auto;
                    margin-right: 0 !important;
                }

                .accordian-panel-bar {
                    li {
                        &.active {
                            .accordian-arrow {
                                -webkit-transform: rotate(180deg);
                                -moz-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        }

                        .accordian-arrow {
                            margin-left: auto;
                            margin-right: 0 !important;
                        }
                    }
                }
            }

            .row {
                margin: 0;
                width: 100%;
                height: 100%;

                .s12 {
                    padding: 0;
                }

                h6 {
                    margin: 0;
                    color: #0080ff;
                    padding: 1rem;
                    background-color: #e3f1ff;
                    text-align: left;
                    font-size: 14px;
                    font-weight: 500;
                }

                .tabs {
                    & > li > a:focus {
                        background-color: transparent;
                    }

                    & > li > a {
                        color: #0080ff;

                        i,
                        span {
                            line-height: inherit;
                        }
                    }

                    .icon::before {
                        margin-right: 0;
                    }

                    .indicator {
                        background-color: #0080ff;
                    }
                }
            }
        }
    }

    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

    .btn-white {
        color: #a5abb1;
        box-shadow: none;
        background-color: white;
    }

    .btn-primary {
        color: white;
        box-shadow: none;
        background-color: #0080ff;
    }
}
