@import "../../../../assets/sass/_mixins";
$builder-bg: #f5f7fb;
$default-font: "Helvetica Neue", Medium;

.grapes-container {

    #toolbar {
        font-size: 12px !important;
        font-weight: normal !important;

        .mat-toolbar-row {
            padding: 0;
            border-bottom: solid 1px #EDEDED;

            section {
                margin: auto;
                width: 88% !important;
            }
        }

        #export {
            background-color: $builder-bg;

            h6 {
                color: #616161;
                display: inline;
                vertical-align: sub;
                font-size: 1.1rem;
            }

            small {
                float: right;
                color: #acb1b7;
                margin-top: 4px;
                margin-right: 10px;
                font-size: 0.7rem;
                font-weight: normal;
                font-style: italic;
            }

            button {
                height: 35px;
                float: right;
                font-size: 12px;
                margin-left: 10px;
                font-weight: normal;

                span.icon {
                    vertical-align: text-bottom;
                }

                .icon::before {
                    font-size: 15px;
                    margin-right: 10px;
                }

                span {
                    vertical-align: text-bottom !important;
                }
            }
        }

        #actions {
            color: #616161;
            background-color: white;

            .form-name {
                display: inline-block;
                margin-right: 20px;

                label {
                    color: #A5ABB1;
                    font-size: 14px;
                    margin-right: 15px;
                    display: inline-block;
                }

                .input-field {
                    width: 20vw;
                    display: inline-block;

                    input {
                        width: 100%;
                        color: #616161;
                        padding: 0 5px;
                        font-size: 12px;
                        margin-bottom: 0;
                        height: 2rem !important;
                        border: 1px solid #C2CBD1;

                        &:focus {
                            box-shadow: none;
                            border-color: #0080FF;
                        }
                    }
                }
            }

            button:focus {
                background-color: transparent;
            }

            button {
                padding: 0 10px;
                margin-left: 10px;
                font-weight: normal;
                display: inline-block;
                font-size: 12px;

                span.icon {
                    color: #bec5d0;
                    margin: 0 -5px;
                    vertical-align: sub;
                }

                .icon::before {
                    font-size: 16px;
                }
            }

            .divider {
                height: 40px;
                margin: 0 26px 0 15px;
                display: inline-block;
                vertical-align: middle;
                border-left: solid 1px #d7dbe2;
            }
        }
    }

    #grapesBox {
        @import '../../../../../node_modules/materialize-css/sass/materialize.scss';

        min-height: calc(100vh - (128px + 9vh));
        padding: 0 !important;

        .builder {
            height: 100%;
            background-color: $builder-bg;
            padding: 0 !important;

            iframe {
                color: red;
            }
        }

        .builder-tabs {
            height: 100%;
            overflow: visible;
            padding: 0 !important;

            .row {
                margin: 0;
                width: 100%;
                height: 100%;
                background-color: white;

                .s12 {
                    padding: 0;
                }

                h6 {
                    margin: 0;
                    color: #0080ff;
                    padding: 1rem;
                    background-color: #e3f1ff;
                    text-align: left;
                    font-size: 14px;
                    font-weight: 500;
                }

                .tabs {
                    & > li > a:focus {
                        background-color: transparent;
                    }

                    & > li > a {
                        color: #0080ff;

                        i,
                        span {
                            line-height: inherit;
                        }
                    }

                    .icon::before {
                        margin-right: 0;
                    }
                }
            }

            #config-tab {
                .config-container {

                    & > .mat-expansion-panel-spacing {
                        margin: 0 !important;
                    }

                    & > .mat-expansion-panel {
                        box-shadow: none;
                        border-bottom: solid 1px #EDEDED;
                        border-radius: unset;

                        & > .mat-expansion-panel-header {
                            height: 54px !important;

                            span {
                                opacity: 0.7;
                            }

                            .mat-expansion-panel-header-title {
                                span:nth-child(2) {
                                    margin-top: 3px;
                                }
                            }
                        }
                    }

                    .collapsible-header {
                        font-size: 12px;
                        font-weight: bold;
                        color: #616161;

                        i {
                            margin-right: 0.5rem;
                            color: #616161;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

    .btn-white {
        color: #a5abb1;
        box-shadow: none;
        background-color: white;
    }

    .btn-primary {
        color: white;
        box-shadow: none;
        background-color: #0080ff;
    }
}
