<section class="row grapes-container">
	<div class="col s9 builder">
		<div id="gjs">
			<h1>Hello World Component!</h1>
		</div>
	</div>

	<aside class="col s3 builder-panel">
		<header>
			<ul class="tabs">
				<li class="tab col s3"><a href="#swipe-blocks" class="active">Test 1</a></li>
				<li class="tab col s3"><a href="#swipe-styles">Test 2</a></li>
				<li class="tab col s3"><a href="#swipe-config">Test 3</a></li>
			</ul>
		</header>

		<div class="content white">
			<div id="swipe-blocks" class="col s12 blocks-container">
				<h6>Elementos</h6>
			</div>

			<div id="swipe-styles" class="col s12 styles-container">
				<h6>Estilos</h6>
			</div>

			<div id="swipe-config" class="col s12 config-container">
				<h6>Configuración informe</h6>
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Tags Categorias</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
					<li>
						<div class="collapsible-header">Seo</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
					<li>
						<div class="collapsible-header">Informes relacionados</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
					<li>
						<div class="collapsible-header">Glosario</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
				</ul>
			</div>
		</div>
	</aside>
</section>
