@import '../../../../../assets/sass/_mixins';

.dialog-box {

	.mat-dialog-container {
		padding: 20px;	
	}

	.mat-dialog-title {
		border-bottom: 1px solid #EDEDED;
		color: #A5ABB1;
		font-size: 1.125em;
		display: block;
		margin: 10px;
	}

	.mat-input-element {
		caret-color: #0080FF;
	}

	.mat-form-field-wrapper .mat-form-field-infix {
		width: 240px;
	}

	.mat-dialog-actions {
		@include display-flex;

		justify-content: center;
		padding: 20px 0;
		text-align: center;

		.mat-button {
			padding: 0 40px;
			&.highligh {
				background: #0080FF;
				color: #FFFFFF;
			}
		}
	}

	.form-box {
		@include display-flex;

		justify-content: center;

		button {
			&.icon {
				background: transparent;
				border: none;
				color: transparent;
				cursor: pointer;
				margin-right: 20px;
				width: 25px;
				&:before {
					color: #BEC5D0;
					font-size: 2em;
				}
				&:hover {
					&:before {
						color: #0080FF;
					}
				}
				&:focus {
					border: none;
					outline: 0;
				}
			}
		}		
	}


	.list {
		border: 1px solid #E7EAF1;
		height: 210px;
		background: #F5F7FB;
		overflow: scroll;
		padding: 10px 18px 20px 18px;

		&--left {
			display: inline-block;
			width: 69%;
		}

		&--right{
			display: inline-block;
			width: 30%;
			text-align: right; 
		}

		li {
			border-bottom: 1px solid #E7EAF1;
			color: #616161;
			font-size: 0.875em;
			padding: 20px 14px;
		}

		button {
			&.icon {
				background: transparent;	
				border: none;
				color: transparent;
				cursor: pointer;
				width: 25px;
				&:hover {
					&:before {
						color: #0080FF;
					}
				}
				&:before {
					color: #BEC5D0;
				}
				&:focus {
					border: none;
					outline: 0;
				}
			}

		}

		&--divider {
			color: #BEC5D0;
			font-size: 1.125em;
		}
	}

	
}
