<div class='dialog-box'>
	<div class="dialog_header">
		<h1 mat-dialog-title>Editar y crear carpeta</h1>
		<p (click)="onNoClick()">Cerrar <img src="../../../../../assets/images/cerrar.png" alt=""></p>
	</div>
	<div mat-dialog-content>
		<form class="form-box">
			<button *ngIf="editNew" class="icon_edit material-icons" (click)="onSaveFolder($event)">done</button>
			<button class="icon icon-plus-circle" *ngIf="!editNew" (click)="onSaveFolder($event)">editar</button>
			<mat-form-field *ngIf="!editNew">
				<input  matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}"placeholder="Crear carpeta nueva">
			</mat-form-field>
			<mat-form-field *ngIf="editNew">
				<input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}"placeholder="Editar carpeta">
			</mat-form-field>
		</form>
			<ul class="list">
				<li *ngFor="let folder of folders;let indice=index ">
					<p class="list--left">{{folder.name}}</p>
					<div class="list--right">
						<span class="pages_right">0 pages</span>
						<button class="icon icon-edit" (click)="onEditFolder($event,indice)">editar</button>
						<span class="list--divider"></span>
						<button class="icon icon-trash-alt" (click)="onDeleteFolder($event,indice)">eliminar</button>
					</div>
				</li>
			</ul>
	</div>
	<div mat-dialog-actions>
		<button class="dialog_cancel" mat-button (click)="onNoClick()">Cancelar</button>
		<button class="highligh" mat-button [mat-dialog-close]="" cdkFocusInitial>Agregar</button>
	</div>
</div>	

