@import '../../../../../assets/sass/_mixins';

.dialog-box {
	padding: 15px 25px 25px 25px;
	.mat-dialog-container {
		padding: 20px;
	}

	.dialog_header{
		display: inline-flex;
		width: 100%;
		border-bottom: 1px solid #EDEDED;
		p{
		font: 500 12px/15px Roboto,"Helvetica Neue",sans-serif;
		color: #A5ABB1;
		cursor: pointer;
		img{
			top: 5px;
			left: 5px;
			position: relative;
			}
		}
	}

	.mat-dialog-title {
		color: #A5ABB1;
		font-size: 1.125em;
		display: block;
		margin: 0 10px 10px 0px;
		width: 87%;
	}

	.mat-input-element {
		caret-color: #0080FF;
	}

	.mat-form-field-wrapper .mat-form-field-infix {
		width: 240px;
	}

	.mat-dialog-actions {
		@include display-flex;

		justify-content: center;
		padding: 20px 0;
		text-align: center;

		.mat-button {
			padding: 0 40px;
			&.highligh {
				background: #0080FF;
				color: #FFFFFF;
			}
		}
	}

	.form-box {
		padding: 20px;

        .new-word {
            text-align: center;
            padding-top: 10px;

            .icon-plus-circle:before {
                color: #0080FF !important;
            }

            .mat-form-field {
                width: 260px;
            }
        }

        .content {
            text-align: center;
            margin-top: 30px;
            background: #f5f7fb;

            textarea {
                width: 90%;
                height: 150px;
                background: transparent;
                border: 0px;
                resize: none;
                padding: 15px;
                outline: none;

                &::placeholder {
                    color: #c3c7cc;
                }
            }

            .description {
                height: 150px;
            }

            .source {
                height: 40px;
            }
        }

		button {
			&.icon {
				background: transparent;
				border: none;
				color: transparent;
				cursor: pointer;
				margin-right: 20px;
				width: 25px;
				&:before {
					color: #BEC5D0;
					font-size: 2em;
				}
				&:hover {
					&:before {
						color: #0080FF;
					}
				}
				&:focus {
					border: none;
					outline: 0;
				}
			}
		}
	}


	.list {
		border: 1px solid #E7EAF1;
		height: 255px;
		background: #F5F7FB;
		overflow: scroll;
		padding: 10px 10px 20px 10px;
		margin: 0 50px;
		overflow-x: hidden;

		&--left {
			display: inline-block;
			width: 69%;
		}

		&--right{
			display: inline-block;
			width: 30%;
			text-align: right;
			.pages_right{
				position: relative;
				right: 20px;
			}
			.icon{
				font-size: 12px;
			}
		}

		li {
			border-bottom: 1px solid #E7EAF1;
			color: #616161;
			font-size: 0.875em;
			padding: 20px 14px;
		}

		button {
			&.icon {
				background: transparent;
				border: none;
				color: transparent;
				cursor: pointer;
				width: 25px;
				&:hover {
					&:before {
						color: #0080FF;
					}
				}
				&:before {
					color: #BEC5D0;
				}
				&:focus {
					border: none;
					outline: 0;
				}
			}

		}

		&--divider {
			color: #BEC5D0;
			font-size: 1.125em;
			padding: 0 6px;
		}
	}
	.dialog_cancel{
		color: #A5ABB1;
	}
}

.icon_edit{
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 30px;
	color: rgba(0, 128, 255, 1);
	&:focus{
		outline: none;
	}
}

.mat-error {
    margin-top: 20px;
}
