.video-modal {
    padding-bottom: 50px;
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 20px 30px;
        align-items: center;
    }
    &__title {
        color: #A5ABB1;
        font-size: 0.875em;
        line-height: 1.063em;
    }
    iframe {
        width: 100%;
        height: 400px;
    }
    div {
        display: flex;
        justify-content: center;
        audio {
           outline: none;
        }
    }
}
.modal-close-cta {
    color: #616161;
    font-style: italic;
    font-size: 0.750em;
    display: flex;
    align-items: center;
    cursor: pointer;
    .icon {
        font-size: 1.667em;
        font-style: normal;
        padding-left: 10px;
        &:before {
            margin-right: 0;
            font-size: 1em;
        }
    }
}
