<article class="video-modal">
    <header class="video-modal__header">
        <p class="video-modal__title">{{data.name}}</p>
        <a (click)="closeDialog()" class="modal-close-cta">Cerrar <span
            class="icon icon-times"></span></a>
    </header>

    <iframe *ngIf="data.type === 'Video'" width="100%" height="100%" [src]="url" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div *ngIf="data.type === 'Podcast'">

        <div *ngIf="!isIframe">
            <audio controls autoplay>
                <source [src]="url" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div *ngIf="isIframe" [innerHTML]="urlData">
        </div>
    </div>
</article>
