<div class="p-login">
    <div class="login-section">
        <div class="logo">
            <img src="../assets/images/logo-davivienda.png">
        </div>
        <div class="logo-subtxt">
            <p>Inicie sesion en HUB de contenidos</p>
        </div>

        <div class="log-form">
            <form [formGroup]="loginForm" (submit)="login()">
                <input type="text" formControlName="email" title="username" placeholder="Correo electrónico" email>
                <input type="password" formControlName="password" title="username" placeholder="Contraseña" password>
                <div>
                    <input type="checkbox" id="css">
                    <label for="css">Mantenr mi cuenta abierta</label>
                </div>
                <button type="submit" class="btn login" [disabled]="!loginForm.valid">Iniciar sesión > </button>
            </form>
        </div>
    </div>
</div>
