<div class="highlight_dialog">
    <div class="highlight_title">
        <h1>Destacar informe</h1>
        <a (click)="onNoClick()" class="modal-close-cta">Cerrar <span class="icon icon-times"></span></a>
    </div>

    <div class="highlight_text">
        <p>Seleccione la ubicación donde desea destacar su informe a continuación</p>
    </div>

    <div class="highlight_content">
        <div class="highlight_picture" (click)="pictureSelect = !pictureSelect" [ngClass]="{'activeColor': pictureSelect}">
            <p>destacado principal</p>
        </div>
        <div class="hr_content" [ngClass]="{'activeColor': pictureSelect}">
            <hr class="first-hr">
            <hr class="middle-hr">
            <hr class="last-hr">
        </div>

        <div class="double-frame">
            <div class="highlight_picture first-picture">
                <p>cuadro 01</p>
            </div>

            <div class="highlight_picture">
                <p>cuadro 02</p>
            </div>
        </div>
        
        <div class="hr-frame">
            <div class="hr_content">
                <hr class="first-hr">
                <hr class="middle-hr">
                <hr class="last-hr">
            </div>

            <div class="hr_content hr-second">
                <hr class="first-hr">
                <hr class="middle-hr">
                <hr class="last-hr">
            </div>
        </div>

        <div class="double-frame">
            <div class="highlight_picture first-picture">
                <p>cuadro 03</p>
            </div>
    
            <div class="highlight_picture">
                <p>cuadro 04</p>
            </div>
        </div>

        <div class="hr-frame">
            <div class="hr_content">
                <hr class="first-hr">
                <hr class="middle-hr">
                <hr class="last-hr">
            </div>

            <div class="hr_content hr-second">
                <hr class="first-hr">
                <hr class="middle-hr">
                <hr class="last-hr">
            </div>
        </div>
    
    </div>

    <div class="highlight_image" *ngIf="pictureSelect">
        <button>
            <span class="icon icon-plus-circle"></span>
            <span class="info"> Agregar imagen al destacado</span>
        </button>
        <p>Tamaño máximo de imagen 1MB</p>
    </div>

    <div class="highlight_btm">
        <div mat-dialog-actions>
            <button mat-button class="btn dialog_cancel" (click)="onNoClick()">Cancelar</button>
            <button mat-button class="btn btn-primary">Aceptar</button>
        </div>
    </div>

</div>