:host {
    position: relative;
    width: 72%;
    z-index: 2;
    .tabs.mat-tab-group.mat-tab-header {
        background: #f5f7fb !important;
    }
}

.mat-raised-button {
    background: #FF003B;
    box-shadow: none;
    color: #FFFFFF;
    padding: 0 40px;
    .mat-button-wrapper {
        font-size: 0.875em;
    }
}

.faq-content {
    &__header {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        height: 60px;
        justify-content: space-between;
        width: 100%;
        .info_btn {
            background: transparent;
            color: #ffffff;
            span {
                clip-path: polygon(44% 28%, 90% 46%, 45% 66%, 45% 58%, 81% 46%, 44% 35%);
                background-color: #FFF7F9;
                width: 7%;
                height: 25px;
                top: 17%;
                right: 10%;
                position: absolute;
            }
        }
    }
    &__title {
        color: #616161;
        font-size: 1.125em;
        font-weight: 600;
        width: 100%;
    }
    .back-btn {
        margin: 15px 0;
        font-size: .750rem;
        color: #939393;
        cursor: pointer;
        a{
            font-family: "Helvetica Neue",sans-serif;
            color: #616161;
            font-weight: bold;
            font-size: 1em;
        }
    }
}
