<div class="faq-content">
    <header class="faq-content__header">
        <p class="faq-content__title">Preguntas frecuentes</p>
        <div class="info_btn" *ngIf="!marketing">
            <button mat-raised-button>Crear Nuevo Informe <span>&nbsp;</span></button>
        </div>
    </header>
    <section class="">
        <div class="back-btn">
            <a (click)="onChangeView()">&#60; Volver</a>
        </div>
        <div class="tabs">
            <mat-tab-group>
                <mat-tab label="Respuestas rápidas">
                    <div class="tab__wrapper">
                        <header class="tab__header">
                            <p>Encuentre respuesta rápida a sus inquietudes</p>
                        </header>
                        <div class="tab__container">
                            <mat-accordion class="accordion" *ngFor="let question of questions">
                                <mat-expansion-panel class="accordion__wrapper">
                                    <mat-expansion-panel-header class="accordion__header" [collapsedHeight]="'64px'">
                                        <mat-panel-title class="accordion__title">
                                            {{question.question}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="accordion__content">
                                        <div *ngFor="let answer of question.answer">
                                            <div *ngIf="!answer.list">
                                                <p>{{answer.text}}</p>
                                                <figure *ngIf="answer.image">
                                                    <img [src]="answer.image" alt="">
                                                </figure>
                                            </div>
                                            <ol *ngIf="answer.list">
                                                <li *ngFor="let item of answer.list">
                                                    <div>
                                                        <p>{{item.text}}</p>
                                                        <figure *ngIf="item.image">
                                                            <img [src]="item.image" alt="">
                                                        </figure>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Video tutoriales">
                    <div class="tab__wrapper">
                        <header class="tab__header">
                            <p>Encuentre acá videos explicativos</p>
                        </header>
                        <div class="tab__container">
                            <article class="video" *ngFor="let video of videos">
                                <button class="video__play" (click)="openVideoModal(video.videoId)">
                                    <figure class="video__thumbnail">
                                        <img src="" alt="">
                                    </figure>
                                    <span class="fas fa-play-circle"></span>
                                    <span class="video__duration">1:05</span>
                                </button>
                                <div class="video__texts">
                                    <p class="video__name">{{video.name}}</p>
                                    <p class="video__description">{{video.description}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Manuales">
                    <div class="tab__wrapper">
                        <header class="tab__header">
                            <p>Descargue documenteción de este sitio</p>
                        </header>
                        <div class="tab__container">
                            <article class="pdf" *ngFor="let pdf of pdfs">
                                <div class="pdf__texts">
                                    <p class="pdf__name">{{pdf.name}}</p>
                                    <p class="pdf__description">{{pdf.description}}</p>
                                </div>
                                <a href="{{pdf.downloadLink}}" target="_blank" download="true" class="pdf__download">
                                    <span class="fas fa-file-download"></span><span>Descargar</span>
                                </a>
                            </article>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </section>
</div>
