/*!
 * HUB Davivienda (https://example.com)
 * Copyright 2020 Quadi

 	• General
 	• Header
 	• Principal component
 		- Dialog component
 			· Select 2
 	• Board componen
 */

@import '../node_modules/reset-css/reset.css';
@import '~@angular/material/theming';
@import 'assets/sass/_mixins';
@import 'assets/fonts/fonts';

body {
	// font-family: Roboto, "Helvetica Neue", sans-serif;
	font-family: 'Helvetica Neue', sans-serif;
	overflow-x: hidden;
	width: 100vw;
}

.container {
	width: 88%;
	margin: auto;
}

// TODO
.content-wrap {
	@include display-flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	margin: auto;
	max-width: 1440px;
	width: 88%;
}


/* ========================================================= *\
							HEADER
\* ========================================================= */

.menu-icons {
    vertical-align: middle;
    margin-right: 7px;
}

/* =========================================================== *\
    						PRINCIPAL
\* =========================================================== */

//Overview Material
.mat-dialog-container {
	padding: 0;
}

.modal-form {

	.mat-form-field {
		&.simple {
			margin-top: 20px;
		}
	}

	.mat-select-value {
		padding: 0 15px;
	}

	.mat-select {
		color: #A5ABB1;
		font-family: HelveticaNeue, sans-serif;
		font-size: 0.750em;
	}

	.mat-form-field-flex {
		@include border-radius(5px);

		border: 1px solid #C2CBD1;
	}

	.mat-form-field-infix {
		border-top: none;
		width: 400px;
	}

	.mat-form-field-appearance-legacy {
		.mat-form-field-underline {
			height: 0;
		}

		.mat-form-field-label {
			font-size: 0.750em;
			padding: 8px 20px;
		}
	}

	.mat-select-arrow {
		margin: 0 12px;
		// @include simple-arrow(10px,10px,red,3px,270deg);
	}

	// .mat-tab-label-active,
	.mat-tab-label-content {
		font-size: 0.875em;
	}

	.mat-dialog-actions {
		bottom: 24px;
		position: absolute;
		width: 92%;

		.mat-button-base  {
			width: 48%;
			background: #FFFFFF;
			border: 1px solid #E4E7ED;
			color: #616161;
			font-size: 0.875em;
		}
	}

}


//TABS General
.tabs {
	.mat-tab-group {
		&.mat-primary {
			.mat-ink-bar {
				background-color: #0080FF;
			}
		}
	}

	.mat-tab-label-active {
		color: #0080FF;
	}
}


/* ============================================================= *\
    							BOARD
\* ============================================================= */

// GRAPES
$builder-bg: #f5f7fb;
.gjs-one-bg {
	background-color: white !important;
}
.gjs-two-color {
	color: #616161 !important;
}

#gjs {
	border: 1px solid #eee;
	border-radius: 5px !important;

	.gjs-editor {
		border-radius: 10px !important;

		.gjs-cv-canvas {
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px !important;
		}

		.gjs-pn-panel {
			visibility: hidden;
		}
	}
}
.comments {
	section {
		.mat-card-header-text {
		    margin: 8px 12px 0px;
		}
	}
}

.builder-tabs {
	.row {
		.tabs {
			.indicator {
				bottom: 0;
				height: 2px;
				position: absolute;
				background-color:#0080ff;
				will-change: left, right;
			}
		}

		.blocks-container {
			.gjs-block {
				background-color: #e5e5e5  !important;
				color: #616161;
				border: none;
				font-size: 35px;
			}
		}

		.styles-container {
			.gjs-sm-title,
			.gjs-sm-field,
			.gjs-sm-sector {
				border: none !important;
			}
		}

		.config-container {
			.mat-expansion-indicator {
			    padding-bottom: 2px !important;
			}

			// Accordion panel content
			.mat-expansion-panel-body {
				font-size: 12px;
			}
		}
	}
}

.mat-tab-label-container{
	background: #f5f7fb !important;
}

.search-container input::placeholder{
	color: #BEC5D0 !important;
}

.search-container input:-ms-input-placeholder{
	color: #BEC5D0 !important;
}

.search-container input::-ms-input-placeholder{
	color: #BEC5D0 !important;
}


.select2-container{
	width: 400px !important;
	text-align: left;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #E2E6ED;
	color: #8E8E8E;
}

.select2-container--default .select2-results__option[aria-selected=true]{
	background-color: #E2E6ED;
	color: #8E8E8E;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #A5ABB1;
    font-family: HelveticaNeue, sans-serif;
    font-size: 0.75em;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 20px;
    padding-right: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	right: 7px;
}
.select2-results__option{
	color: #A5ABB1;
    font-family: HelveticaNeue, sans-serif;
    font-size: 0.75em;
}

.mat-dialog-container {
	padding: 0 !important;
}

.select2-container .select2-selection--single{
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}

.ng-star-inserted{
	.md-drppicker {
		td{
			border: 0;
		}
		td.in-range, td.available:hover{
			background-color: #BFDFFF;
		}
		.start-date, td.active, td.active:hover, td.end-date{
			border-radius: 50%;
			background-color: #0080FF;
			span{
				position: relative;
				top: 7px;
			}
		}
		span{
			font-size: 12px;
		}
		th.month{
			color: #0080FF;
		}
		td.start-date.end-date{
			border-radius: 50%;
		}
	}
}

.md-drppicker .calendar td, .md-drppicker .calendar th{
	min-width: 0 !important;
}

.info_content{
	mat-checkbox{
		width: 40%;
		/* margin: 0 auto; */

		&::before{
			content: "";
			border: solid 1px #f3f3f373;
			position: absolute;
			left: 14%;
			top: 17%;
			height: 50px;
		}
		&::after{
			content: "";
			border: solid 1px #f3f3f373;
			position: absolute;
			left: 20%;
			top: 17%;
			height: 50px;
		}
	}
	.report_name{
		width: 14%;
	}
	.report_content{
		margin: 0 auto;
		max-width: 80px;
	}
	.report--title{
		margin-left: 2.5em;
	}
}

.search_input{
	background-image: url("../src/assets/images/search.png");
	background-repeat: no-repeat;
    background-position: 97% 50%;
}

.info_move-text{
	display: inline-block;
	padding: 0 1.5% 0 10%;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}


.mat-form-field-wrapper{
	background-color: #ffffff;
	padding-bottom: 0 !important;
	/* margin-top: 15%; */
		.mat-form-field-flex{
		.mat-form-field-infix{
			border-top: none;
		}
	}
	.mat-form-field-underline{
		bottom: 0;
	}
}
.folder_label{
	padding-left: 10px;
	font-size: 14px;
}

.delete_field{
	padding-left: 9%;
	background-image: url("../src/assets/images/trash.png");
	background-repeat: no-repeat;
    background-position: 0% 50%;
}

.folder_container{
border-bottom: solid 1px silver;
padding-bottom: 2%;
margin-top: 2%;
}
.info_border{
	border-right: silver 1px solid;
    width: 40%;
    margin-top: -5%;
	height: 60px;
	@media screen and (max-width: 1460px){
		width: 49%;
		height: 50px;
	}
}
.reports_form{
	margin-top: 4%;
	max-height: 55vh;
}
.content--top{
	.insert_btn{
		padding-right: 15px;
	/* 	@media screen and (max-width: 1510px){
			width: 25%;
		}
		@media screen and (max-width: 1322px){
			width: 35%;
		}
		@media screen and (max-width: 1130px){
			width: 50%;
		} */
		button{
		background: transparent;
		color: #ff003b;
		border: solid 2px #ff003b;
		}
	}
}

.trash_info{
	padding: 20px 15%;
	background-color: #F5F7FB;
	color: rgb(104, 104, 104);
	b{
		font-weight: bold;
	}
}

.arrow_left{
	clip-path: polygon(41% 25%, 15% 50%, 42% 69%, 36% 77%, 0% 50%, 39% 16%);
	background: #C2CBD1;
	cursor: pointer;
}
.arrow_right{
	clip-path: polygon(61% 20%, 100% 50%, 58% 77%, 56% 68%, 83% 49%, 57% 29%);
	background: #C2CBD1;
	cursor: pointer;
}
.paginator_numbers{
	cursor: pointer;
}
.paginator_label{
	font-size: 13px;
	padding-right: 10px;
}
.cdk-overlay-container{
	.mat-select-panel{
		min-width: calc(150% + 32px) !important;
		font-size: 14px !important;
		margin-top: 20%;
		margin-left: 8%;
	}	
}
	.info_options{	
		span{
			border-bottom: solid 2px #e2e2e2;
			padding: 0 10px;
			font-size: 12px;
	}
}

.mat-form-field.mat-focused .mat-form-field-label{
	color: silver;
	font-size: 14px;
}

  .mat-tab-body-content, .list{
	&::-webkit-scrollbar{
		width: 7px;
	}	
	&::-webkit-scrollbar-track{
		background: #ffffff; 
	}
	&::-webkit-scrollbar-thumb{
		background: #BEC5D0; 
	}
	&::-webkit-scrollbar-thumb:hover{
		background: #555; 
	}
  }


  /* Calendar */

  .calendar-container {
  	
  	.md-drppicker.ltr {
  		box-shadow: none;
  		margin-bottom: 36px;
  		width: 100%;
  		// background: red;
  	}

  	.md-drppicker.ltr .calendar {
  		border: 1px solid #E7EAF1;
  		border-top-right-radius: 5px;
  		border-bottom-right-radius: 5px;
  		border-top-left-radius: 5px;
  		border-bottom-left-radius: 5px;
  		max-width: 280px;
  		width: 280px;
  		margin: 4px;
  		position: relative;

  	}


  	.md-drppicker.ltr .calendar.right.ng-star-inserted::before,
  	.md-drppicker.ltr .calendar.left.ng-star-inserted::before{
  		border-right: 1px solid #E7EAF1;
  		border-top: 1px solid #E7EAF1;
  		color: transparent;
  		cursor: pointer;
  		display: inline-block;
  		height: 12px;
  		position: absolute;
  		right: 30px;
  		top: 0;
  		width: 12px;
  		-ms-: rotate(315deg);
  		-webkit-transform: rotate(315deg);
  		transform: rotate(315deg);
  		position: absolute;
  		top: -7px;
  		content: "";
  		background: #FFFFFF;
  		right: 0;
  		left: 0;
  		margin: auto;
  	}

  	.md-drppicker.ltr .calendar.left {
  		margin-right: 22px;
  	}


  	.mat-form-field-infix {
  		color: #A5ABB1;
  		max-width: 280px;
  		width: 280px;
  		font-weight: 100;
  		font-style: italic;
  		font-size: 0.875em;
  	}

  	.mat-form-field-appearance-legacy .mat-form-field-underline {
  		background-color: #E7EAF1;
  	}

  }