/*!
 * HUB Davivienda (https://example.com)
 * Copyright 2020 Quadi

 	• General
 	• Header
 	• Principal component
 		- Dialog component
 			· Select 2
 	• Board componen
 */

@import '../node_modules/reset-css/reset.css';
@import '~@angular/material/theming';
@import 'assets/sass/_mixins';
@import 'assets/fonts/fonts';

body {
	// font-family: Roboto, "Helvetica Neue", sans-serif;
	font-family: 'Helvetica Neue', sans-serif;
}

.container {
	width: 88%;
	margin: auto;
}

// TODO
.content-wrap {
	@include display-flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	margin: auto;
	max-width: 1440px;
	width: 88%;
}


/* ========================================================= *\
							HEADER
\* ========================================================= */

.menu-icons {
    vertical-align: middle;
    margin-right: 7px;
}

/* =========================================================== *\
    						PRINCIPAL
\* =========================================================== */

//Overview Material
.mat-dialog-container {
	padding: 0;
}

.modal-form {

	.mat-form-field {
		&.simple {
			margin-top: 20px;
		}
	}

	.mat-select-value {
		padding: 0 15px;
	}

	.mat-select {
		color: #A5ABB1;
		font-family: HelveticaNeue, sans-serif;
		font-size: 0.750em;
	}

	.mat-form-field-flex {
		@include border-radius(5px);

		border: 1px solid #C2CBD1;
	}

	.mat-form-field-infix {
		border-top: none;
		width: 400px;
	}

	.mat-form-field-appearance-legacy {
		.mat-form-field-underline {
			height: 0;
		}

		.mat-form-field-label {
			font-size: 0.750em;
			padding: 8px 20px;
		}
	}

	.mat-select-arrow {
		margin: 0 12px;
		// @include simple-arrow(10px,10px,red,3px,270deg);
	}

	// .mat-tab-label-active,
	.mat-tab-label-content {
		font-size: 0.875em;
	}

	.mat-dialog-actions {
		bottom: 24px;
		position: absolute;
		width: 92%;

		.mat-button-base  {
			width: 48%;
			background: #FFFFFF;
			border: 1px solid #E4E7ED;
			color: #616161;
			font-size: 0.875em;
		}
	}

}


//TABS General
.tabs {
	.mat-tab-group {
		&.mat-primary {
			.mat-ink-bar {
				background-color: #0080FF;
			}
		}
	}

	.mat-tab-label-active {
		color: #0080FF;
	}
}


/* ============================================================= *\
    							BOARD
\* ============================================================= */

// GRAPES
$builder-bg: #f5f7fb;
.gjs-one-bg {
	background-color: white !important;
}
.gjs-two-color {
	color: #616161 !important;
}

#gjs {
	border: 1px solid #eee;
	border-radius: 5px !important;

	.gjs-editor {
		border-radius: 10px !important;

		.gjs-cv-canvas {
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px !important;
		}

		.gjs-pn-panel {
			visibility: hidden;
		}
	}
}
.comments {
	section {
		.mat-card-header-text {
		    margin: 8px 12px 0px;
		}
	}
}

.builder-tabs {
	.row {
		.tabs {
			.indicator {
				bottom: 0;
				height: 2px;
				position: absolute;
				background-color:#0080ff;
				will-change: left, right;
			}
		}

		.blocks-container {
			.gjs-block {
				background-color: #e5e5e5  !important;
				color: #616161;
				border: none;
				font-size: 35px;
			}
		}

		.styles-container {
			.gjs-sm-title,
			.gjs-sm-field,
			.gjs-sm-sector {
				border: none !important;
			}
		}

		.config-container {
			.mat-expansion-indicator {
			    padding-bottom: 2px !important;
			}

			// Accordion panel content
			.mat-expansion-panel-body {
				font-size: 12px;
			}
		}
	}
}

.mat-tab-label-container{
	background: #f5f7fb !important;
}

.search-container input::placeholder{
	color: #BEC5D0 !important;
}

.search-container input:-ms-input-placeholder{
	color: #BEC5D0 !important;
}

.search-container input::-ms-input-placeholder{
	color: #BEC5D0 !important;
}


.select2-container{
	width: 400px !important;
	text-align: left;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #E2E6ED;
	color: #8E8E8E;
}

.select2-container--default .select2-results__option[aria-selected=true]{
	background-color: #E2E6ED;
	color: #8E8E8E;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #A5ABB1;
    font-family: HelveticaNeue, sans-serif;
    font-size: 0.75em;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 20px;
    padding-right: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	right: 7px;
}
.select2-results__option{
	color: #A5ABB1;
    font-family: HelveticaNeue, sans-serif;
    font-size: 0.75em;
}

.mat-dialog-container {
	padding: 0 !important;
}

.select2-container .select2-selection--single{
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}