/* You can add global styles to this file, and also import other style files */

@import '../node_modules/reset-css/reset.css';
@import '~@angular/material/theming';
@import 'assets/sass/_mixins';
@import 'assets/fonts/fonts';
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.full-wrap {
    width: 100%;
    background: #ffffff;
}
.content-wrap {
    @include display-flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 88%;
}


// GRAPES
#gjs {
    border: 1px solid #eee;
    border-radius: 5px !important;
    background: red !important;

    .gjs-editor {
        border-radius: 10px !important;
        background: red !important;

        .gjs-cv-canvas {
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px !important;
            background: red !important;
        }
        .gjs-pn-panel {
            visibility: hidden;
        }
    }
}
