
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/reset-css/reset.css';
@import '~@angular/material/theming';
@import 'assets/sass/_mixins';
@import 'assets/fonts/fonts';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-wrap {
	width: 100%;
	background: #ffffff;
}

.content-wrap {
	@include display-flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	margin: auto;
	width: 88%;	
}

//Overview Material
.mat-dialog-container {
	padding: 0;
}

.modal-form {

	.mat-form-field {
		&.simple {
			margin-top: 20px;
		}
	}

	.mat-select-value {
		padding: 0 15px;
	}	

	.mat-select {
		color: #A5ABB1;
		font-family: HelveticaNeue, sans-serif;
		font-size: 0.750em;
	}

	.mat-form-field-flex {
		@include border-radius(5px);

		border: 1px solid #C2CBD1;
	}

	.mat-form-field-infix {
		border-top: none;
		width: 400px;
	}	

	.mat-form-field-appearance-legacy {
		.mat-form-field-underline {
			height: 0;
		}

		.mat-form-field-label {
			font-size: 0.750em;
			padding: 8px 20px;
		}
	}

	.mat-select-arrow {
		margin: 0 12px;
	 	// @include simple-arrow(10px,10px,red,3px,270deg);
	}

	// .mat-tab-label-active,
	.mat-tab-label-content {
		font-size: 0.875em;
	}

	.mat-dialog-actions {
		bottom: 24px;
		position: absolute;
		width: 92%;

		.mat-button-base  {
			width: 48%;
			background: #FFFFFF;
			border: 1px solid #E4E7ED;
			color: #616161;
			font-size: 0.875em;
		}
	}
		
}

//TABS General
.tabs {
	.mat-tab-group {
		&.mat-primary {
			.mat-ink-bar {
				background-color: #0080FF; 
			}	
		}	
	}

	.mat-tab-label-active {
		color: #0080FF;
	}	
}
