/* You can add global styles to this file, and also import other style files */

@import '../node_modules/reset-css/reset.css';
@import '~@angular/material/theming';
@import 'assets/sass/_mixins';
@import 'assets/fonts/fonts';
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.full-wrap {
    width: 100%;
    background: #ffffff;
}
.content-wrap {
    @include display-flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 88%;
}


// GRAPES
$builder-bg: #f5f7fb;
.gjs-one-bg {
    background-color: white !important;
}
.gjs-two-color {
    color: #616161 !important;
}

#gjs {
    border: 1px solid #eee;
    border-radius: 5px !important;

    .gjs-editor {
        border-radius: 10px !important;

        .gjs-cv-canvas {
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px !important;
        }

        .gjs-pn-panel {
            visibility: hidden;
        }
    }
}

.mat-grid-tile:nth-child(2) {

    & > figure {
        background-color: $builder-bg;
        padding-right: 5vw;
    }
}

.builder-tabs {
    .row {
        .tabs {
            .indicator {
                bottom: 0;
                height: 2px;
                position: absolute;
                background-color:#0080ff;
                will-change: left, right;
            }
        }
    }
}
.blocks-container {
    .gjs-block {
        background-color: #e5e5e5  !important;
        color: #616161;
        border: none;
        font-size: 35px;
    }
}
.styles-container {

    .gjs-sm-title,
    .gjs-sm-field,
    .gjs-sm-sector {
        border: none !important;
    }
}