.container {
	width: 88%;
	max-width: 1440px;

	mat-drawer-container{
		height: auto;
		background-color: #f5f7fb;
		overflow: hidden;
	}
}

.aside-back{
	display: none;
}

mat-drawer-content{
	overflow: hidden;

	& > h6{
		font-weight: 600;
		width: 100%;
		display: block;
		padding: 1.5rem 2rem;	
		background-color: #fff;
		border: solid 1px #E7EAF1;
		height: 25px;
	}


	& > a{
		font-weight: 600;
		font-size: .9rem;
		padding: 1rem 2rem;
		color: rgba(0,0,0,.87);;
		display: flex;
		text-decoration: none;
		align-items: center;
		span{
			margin-right: .5rem;
		}
	}
}

mat-drawer{
	width: 23%;

	.mat-drawer-aside-title{
		display: flex;
		align-items: center;	
		border-bottom: solid 2px #E7EAF1;
		padding: 1.5rem 0rem;
		
		i{
			padding: 0 1rem;
			color: silver;
		}

		h6{
			display: block;
			font-weight: 600;
			font-size: 0.9rem;
			padding-left: 0;
		}
	}

	.mat-drawer-aside-item{
		font-size: .85rem;	
		padding: 1.5rem 1rem;
		padding-right: 0;
		margin: 0 1rem;
		border-bottom: solid 2px #E7EAF1;
		position: relative;

		display: flex;
		justify-content: space-between;
		align-items: center;

		span{
			padding: 6px 10px;
			background-color: #f6f7fb;
			border-radius: 8px;
		}


		&.active{
			font-weight: 600;

			&::before{
				content: "";
				display: inline-block;
				width: 2px;
				height: 60%;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 4px;
				background-color: #0080FF;
			}

			
			span{
				background-color: #f6f7fb;
				border-radius: 5px;
				color: #0080FF;
				font-weight: 600;
			}
		}
	}
}

.mat-card-container{
	padding-right: 0;
	padding: 1rem;
	height: 65vh;
	overflow: auto;
	overflow-x: hidden;

	&::-webkit-scrollbar{
		background-color: #fff;
		width: 6px;
	}

	&::-webkit-scrollbar-button{
		display: none;
	}

	&::-webkit-scrollbar-thumb{
		border-radius: 8px;
		background-color: silver;
	}

	mat-card {
		margin: 0;
		cursor: pointer;
		padding-right: 0;
		border-radius: 0;
		line-height: 1.35;
		padding-left: 3rem;
		position: relative;
			h6{
				font-weight: 500;
				color: #A5ABB1;
				padding-bottom: .3rem;
				font-size: .85rem;
			}

			p{
				font-size: .85rem;
				padding-bottom: .9rem;
				color: #5C5C5C;
				font-weight: 500;
			}

			small{
				font-size: .6rem;
			}

			img{
				position: absolute;
				top: 0;
				left: 15px;
				max-width: 15px;
				bottom: 0;
				margin: auto;
			}
	}
}


@media screen and (max-width: 713px){

	.aside-back{
		display: block;
		font-weight: 600;
		font-size: 0.9rem;
		padding: 1rem 2rem;
		color: rgba(0, 0, 0, 0.87);
		display: -webkit-box;
		display: flex;
		text-decoration: none;
		-webkit-box-align: center;
		align-items: center;
		background-color: #f5f7fb;
		padding-left: 0;
	}

	.mat-drawer-container{
		width: 100%;
	}
	
	.mat-drawer.mat-drawer-side{
		position: relative;
		width: 100%;
	}

	.mat-card-container{
		padding: 0;
	}



	.mat-drawer-content{
		margin-left: 0 !important;
	
		& > h6{
		
		}
	
		& > a{
			display: none;
		}
	}
	
}